extends _layout
block append head
	- var city = "Донецк - Харьков"
	include includes/modules/_meta
block content
	.main._kharkov-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Донецк - Харьков 
						span от #{kharkovPrice} 
						|  грн
	.container
		.row
			.col-sm-12.col-xs-12
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Донецк - Харьков
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 05:00 
										| АВ "Южный"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 13:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(без пересадки на БП)<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{kharkovPrice} 
										| грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
				br
				.text-right
					a.back__link(href="/intercity/autobus-kharkov-donetsk") Посмотреть обратный маршрут
					i.fa.fa-refresh.fa-lg
	include includes/modules/_share
	include includes/modules/_advantages
	.description.hidden-xs
		.container
			.col-sm-12
				h2.description__title 
					strong Автобус Донецк – Харьков, пассажирские перевозки
				p.description__text Планируете поездку в Харьков, но не знаете, как добраться в Харьков из Донецка? Нет ничего проще, наша диспетчерская служба предлагает <strong>ежедневный маршрут по направлению Донецк – Харьков</strong>. В связи со сложной ситуацией на востоке страны, все рейсы осуществляются по максимально безопасным маршрутам. <strong>Автобус Донецк – Харьков</strong> это комфортабельный 8 или 16 местный микроавтобус, который следует согласно указанному маршруту без пересадок. Покупая <strong>билет на автобус Донецк Харьков</strong>, вы обязательно должны иметь электронный пропуск позволяющий пересекать линию разграничения. <strong>Пассажирские перевозки по направлению Донецк – Харьков</strong> (через Украину) занимает около 6-8 часов, включая прохождение пропускного пункта в зоне разграничения. <strong>Купить билет на автобус Донецк – Харьков</strong> вы можете, заблаговременно забронировав место с помощью формы бронирования билетов или позвонив по телефонам указанным на сайте. Бронируя билет на автобус онлайн вам не нужно стоять большие очереди в кассах, заказав билет на автобус Донецк - Харьков с помощью онлайн бронирования компании «VSEPUTI» вы гарантированно оставляете за собой место в автобусе по нужному направлению в нужную дату и время, оплата билета производиться непосредственно при посадке водителю автобуса. Так же по указанным номерам, вы можете уточнить все возникшие вопросы у наших менеджеров.