extends _layout
block append head
	- var city = "Полтава - Донецк"
	include includes/modules/_meta
block content
	.main._donetsk-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Полтава  - Донецк 
						span от #{poltavaDonPrice}
						|  грн
	.container
		.row
			.col-sm-12.col-xs-12
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Полтава - Донецк
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 00:00 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 11:00 
										| Место прибытия уточняйте
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(с пересадкой на БП)<br>~ 11 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{poltavaDonPrice}
										|  грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
				br
				.text-center
					a.back__link.btn(href="/intercity/autobus-donetsk-poltava") <i class="fa fa-refresh"></i> Посмотреть обратный маршрут
					
	include includes/modules/_share
	include includes/modules/_advantages
	.description.hidden-xs
		.container
			.col-sm-12
				h2.description__title 
					strong Автобус Полтава - Донецк (пассажирские автобусные перевозки в оба конца)
				p.description__text В связи с непростой обстановкой на Донбассе, очень сложно <strong>добраться из Полтавы в Донецк</strong>. Путь из одного города в другой преграждают большое количество блок постов, так называемая «буферная зона», которую очень сложно пересечь даже с наличием электронного пропуска. Наша транспортная компания «VSEPUTI» предоставляет комфортабельные <b>пассажирские автобусные перевозки Полтава - Донецк</b>,маршрут таких перевозок осуществляется опытными и осведомленными водителями по максимально безопасному маршруту. <b>Купить билет на автобус Полтава - Донецк </b>или забронировать место на определенную дату и время вы можете, заполнив форму на сайте или позвонив по номерам указанным на сайте. Покупая или бронируя <b>билеты на автобус Полтава - Донецк </b>у вас обязательно должен быть электронный пропуск позволяющий пересекать линию разграничения. Если у вас нет желания или возможности лично выехать из Донецка по направлению <b>Полтава - Донецк</b>, вы можете <b>передать багаж</b> нашим рейсом, цену на данную услугу вы можете узнать непосредственно у водителя автобуса, и она будет зависеть от размеров багажа.
				h2.description__title 
					strong Расписание автобусов Полтава – Донецк
				p.description__text <b>Расписание автобусов по направлению Полтава - Донецк </b>выстроено с наиболее удобным временем отправления и прибытия маршрутов, учитывая так же нюансы пропускного времени через блок посты на линии разграничения. К сожалению, на данный момент наша диспетчерская служба может предоставить только один вариант ежедневного маршрута по направлению <b>Полтава - Донецк</b>, это рейс, идущий с пересадками по принципу «борт в борт». То есть вам не придется переходить буферную зону пешком и уж тем более самостоятельно переносить свой багаж, приезжая на линию разграничения на одном автобусе вы пересаживаетесь во второй, который и будет далее следовать по назначенному маршруту. Более подробную информацию о маршруте Полтава - Донецк вы можете узнать у менеджеров нашей диспетчерской службы по телефонам указанным на сайте.