extends _layout
block append head
	- var city = "Донецк - Тула"
	include includes/modules/_meta
block content
	.main._tula-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Донецк - Тула 
						span от #{tulaPrice}
							span.rubl a
	.container
		.row
			.col-sm-12.col-xs-12
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Донецк - Тула
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00 
										| Крытый рынок, "Золотой ключик"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 04:20 
										| Поворот на Тулу
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Сб<br>~ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 700
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:30 
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 04:50 
										| Поворот на Тулу
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Ср, Сб<br>~ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 700
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать

					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:50 
										| Крытый р-к Аптека «Ольвия»
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 05:20 
										| Поворот на Тулу
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>~ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 700
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 10:20 
										| Ресторан "Старгород"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 07:50 
										| Поворот на Тулу
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Пт<br>~ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 600
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 12:00 
										| ТРЦ "Грин-Плаза"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 09:00 
										| Поворот на Тулу
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>~ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 700
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 15:30 
										| Мотель
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 9:30 
										| Поворот на Тулу
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Нечетные дни<br>~ 21 час
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{tulaPrice}
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
				//- br
				//- .text-right
					a.back__link(href="/international/autobus-tula-donetsk") Посмотреть обратный маршрут
					i.fa.fa-refresh.fa-lg
	include includes/modules/_share
	include includes/modules/_advantages
	.description.hidden-xs
		.container
			.col-sm-12
				h2.description__title 
					strong Автобус Донецк – Тула (пассажирские автобусные перевозки в оба конца)
				p.description__text На сегодняшний день пассажирские перевозки из Донецка в Россию стали весьма популярны. Компания «VSEPUTI» предоставляет регулярные, <strong>пассажирские перевозки из Донецка в Тулу</strong>. Наша транспортная компания охватывает наиболее популярные маршруты <strong>автобусных пассажирских перевозок из Донецка</strong> (Горловки, Енакиево, Макеевки, Харцызска, Шахтерска, Зугреса), такие как: Донецк-Москва, Донецк-Севастополь, Донецк-Ростов, Донецк-Тула и другие. С помощью нашей транспортной компании вы также можете забронировать билеты на обратный маршрут <strong>из Тулы в Донецк </strong>на необходимую вам дату и удобное для вас время. Компания «VSEPUTI» сотрудничает только с проверенными и надежными перевозчиками, которые заботятся о вашем комфорте и безопасности, что подтверждает наличие международной лицензии на пассажирские перевозки. <strong>Автобусы Донецк – Тула </strong>следуют по четко установленному расписанию и графику отправления, которое указанно на нашем сайте. <strong>Цена билета на автобус Донецк – Тула </strong>указана на сайте, ее вы так же можете уточнить у менеджеров по указанным телефонам. Все волнующие вас вопросы вы так же можете уточнить у представителей нашей транспортной компании.
				h2.description__title 
					strong Заказ и бронирование билетов на автобус Донецк – Тула (онлайн)
				p.description__text Преимуществом компании «VSEPUTI» является гарантированное <strong>бронирование билетов на автобус Донецк – Тула </strong>в любом направление в режиме онлайн, для этого вы можете оставить заявку на нашем сайте, указав необходимые данные, после чего с вами свяжутся наши менеджеры. Так же <strong>купить билеты на автобус из Донецка (Горловки, Енакиево, Макеевки, Харцызска, Шахтерска, Зугреса)</strong>, можно позвонив по размещенным на сайте номерам телефонов или воспользовавшись услугой «Обратный звонок». Так вы обеспечите себя стопроцентной гарантией отъезда в запланированный день и час, более того вам не придётся выстаивать длинные очереди в кассах что бы <strong>купить билеты на автобус Донецк – Тула</strong>. Оплата заказанных предварительно билетов на автобус Донецк – Тулаосуществляется непосредственно во время посадки в автобус, водителю. Наши высококвалифицированные менеджеры в телефонном режиме смогут ответить на все волнующие вас вопросы, более того вы можете рассчитывать на быструю координацию действий в непредвиденных ситуациях. Покупая <strong>билеты на автобус из Донецка</strong>, вы можете быть уверенны, что с комфортом доберетесь до места назначения. <strong>Расписание автобусов по направлению Донецк – Тула </strong>выстроено с наиболее удобным временем отправления и прибытия маршрутов, существует достаточно большое количество рейсов по данному направлению, которые формируются в разных частях города, что дает вам право выбрать наиболее удобный рейс.