.row {
	&-special {
		background: rgba(255, 224, 0, 0.32)!important;
	}
}
.toTop {
	@include position(fixed, null 10px -100px null);
	border: 1px solid #fff;
	overflow: auto;
	padding: 12px 14px 14px;
	font-size: 18px;
	line-height: 10px;
	cursor: pointer;
	background-color: #1B8C2B;
	border-radius: 3px;
	color: #fff;
	z-index: 200;
	@include transition(all 0.2s ease-in-out);
	&.active {
		bottom: 45px;
	}
	&:hover {
		opacity: 0.8;
	}
}
.main {
	padding: 140px 0;
	background: url(../img/content/main-pattern.jpg) no-repeat;
	background-position: center!important;
	background-size: cover!important;
	@include display(flex);
	@include align-items(center);
	position: relative;
	&:before {
		content: '';
		background: rgba(0,0,0, 0.2);
		@include position(absolute, 0 null null 0);
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	&__form {
		padding: 15px 20px 1px 20px;
		background: rgba(0,0,0, 0.7);
		max-width: 1140px;
		margin: 0 auto;
	}
	&__title {
		color: #fff;
		font-weight: bold;
		position: relative;
		font-size: 38px;
		text-align: center;
		text-shadow: 1px 1px 10px #333333;
		margin-top: -20px;
		margin-bottom: 30px;
		span {
			display: inline-block;
		}
	}
	&._partner-bg {    background: url(../img/content/partner.jpg) no-repeat;}
	&._service-bg {    background: url(../img/content/service.jpg) no-repeat;}
	&._moscow-bg {     background: url(../img/content/city-pattern/moscow.jpg) no-repeat;}
	&._voronej-bg {    background: url(../img/content/city-pattern/voronej.jpg) no-repeat;}
	&._pavlovsk-bg {   background: url(../img/content/city-pattern/pavlovsk.jpg) no-repeat;}
	&._tula-bg {       background: url(../img/content/city-pattern/tula.jpg) no-repeat;}
	&._kiev-bg {       background: url(../img/content/city-pattern/kiev.jpg) no-repeat;}
	&._borispol-bg {   background: url(../img/content/city-pattern/borispol.jpg) no-repeat;}
	&._piryatin-bg {   background: url(../img/content/city-pattern/piryatin.jpg) no-repeat;}
	&._lubni-bg {      background: url(../img/content/city-pattern/lubni.jpg) no-repeat;}
	&._poltava-bg {    background: url(../img/content/city-pattern/poltava.jpg) no-repeat;}
	&._kharkov-bg {    background: url(../img/content/city-pattern/kharkov.jpg) no-repeat;}
	&._dnepr-bg {      background: url(../img/content/city-pattern/dnepr.jpg) no-repeat;}
	&._donetsk-bg {    background: url(../img/content/city-pattern/donetsk.jpg) no-repeat;}
	&._rostov-bg {     background: url(../img/content/city-pattern/rostov.jpg) no-repeat;}
	&._kerch-bg {      background: url(../img/content/city-pattern/kerch.jpg) no-repeat;}
	&._feodosiya-bg {  background: url(../img/content/city-pattern/feodosiya.jpg) no-repeat;}
	&._simferopol-bg { background: url(../img/content/city-pattern/simferopol.jpg) no-repeat;}
	&._alushta-bg {    background: url(../img/content/city-pattern/alushta.jpg) no-repeat;}
	&._yalta-bg {      background: url(../img/content/city-pattern/yalta.jpg) no-repeat;}
	&._sevastopol-bg { background: url(../img/content/city-pattern/sevastopol.jpg) no-repeat;}
	&._belgorod-bg {   background: url(../img/content/city-pattern/belgorod.jpg) no-repeat;} 
	&._piter-bg {      background: url(../img/content/city-pattern/piter.jpg) no-repeat;} 
	&._bryansk-bg {    background: url(../img/content/city-pattern/bryansk.jpg) no-repeat;} 
	&._anapa-bg {      background: url(../img/content/city-pattern/anapa.jpg) no-repeat;}
	&._adler-bg {      background: url(../img/content/city-pattern/adler.jpg) no-repeat;}
	&._tuapse-bg {     background: url(../img/content/city-pattern/tuapse.jpg) no-repeat;}
	&._gelendjik-bg {  background: url(../img/content/city-pattern/gelendjik.jpg) no-repeat;}
	&._sochi-bg {      background: url(../img/content/city-pattern/sochi.jpg) no-repeat;}
	&._kislovodsk-bg { background: url(../img/content/city-pattern/kislovodsk.jpg) no-repeat;}
	&._index-bg {      background: url(../img/content/city-pattern/index-pattern.jpg) no-repeat;}
	&._volgograd-bg {  background: url(../img/content/city-pattern/volgograd.jpg) no-repeat;}
	&._international-bg {  background: url(../img/content/international.jpg) no-repeat;}
	&._intercity-bg {  background: url(../img/content/intercity.jpg) no-repeat;}
	&._taganrog-bg {   background: url(../img/content/city-pattern/taganrog.jpg) no-repeat;}
	&._nn-bg {         background: url(../img/content/city-pattern/nn.jpg) no-repeat;}
	&._vn-bg {         background: url(../img/content/city-pattern/vn.jpg) no-repeat;}
	&._erevan-bg {     background: url(../img/content/city-pattern/erevan.jpg) no-repeat;}
	&._tbilisi-bg {    background: url(../img/content/city-pattern/tbilisi.jpg) no-repeat;}
	&._samara-bg {     background: url(../img/content/city-pattern/samara.jpg) no-repeat;}
	&._saratov-bg {    background: url(../img/content/city-pattern/saratov.jpg) no-repeat;}
	&._minsk-bg {      background: url(../img/content/city-pattern/minsk.jpg) no-repeat;}
	&._gomel-bg {      background: url(../img/content/city-pattern/gomel.jpg) no-repeat;}
	&._mogilev-bg {    background: url(../img/content/city-pattern/mogilev.jpg) no-repeat;}
	&._odessa-bg {     background: url(../img/content/city-pattern/odessa.jpg) no-repeat;}
	&._tver-bg {       background: url(../img/content/city-pattern/tver.jpg) no-repeat;}
	&._lugansk-bg {    background: url(../img/content/city-pattern/lugansk.jpg) no-repeat;}
	&._evpatoria-bg {  background: url(../img/content/city-pattern/evpatoria.jpg) no-repeat;}
	&._kazan-bg {      background: url(../img/content/city-pattern/kazan.jpg) no-repeat;}
	&._sumi-bg {       background: url(../img/content/city-pattern/sumi.jpg) no-repeat;}
	&._kursk-bg {      background: url(../img/content/city-pattern/kursk.jpg) no-repeat;}
	&._gdansk-bg {     background: url(../img/content/city-pattern/gdansk.jpg) no-repeat;}
	&._gdinya-bg {     background: url(../img/content/city-pattern/gdinya.jpg) no-repeat;}
	&._lublin-bg {     background: url(../img/content/city-pattern/lublin.jpg) no-repeat;}
	&._shecin-bg {     background: url(../img/content/city-pattern/shecin.jpg) no-repeat;}
	&._varshava-bg {   background: url(../img/content/city-pattern/varshava.jpg) no-repeat;}
}
.title {
	font-size: 36px;
	color: #000;
	text-align: center;
	margin: 40px 0 20px;
}
.subtitle {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 25px;
	color: #675F5F;
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	&__img {
		margin-right: 15px;
		vertical-align: bottom;
	}
}
// Форма
.form {
	&__textarea,
	&__input {
		width: 100%;
		height: 40px;
		font-size: 15px;
		padding: 0 10px 0 32px;
		box-shadow: inset 0 4px 7px -7px rgba(0,0,0,0.5);
		border: 1px solid #ccc;
		font-family: PT Sans;
		@include transition(all 0.2s ease-in-out);
		&.error {
			border: 1px solid #f20;
		}
		&:focus {
			border: 1px solid #1B8C2B;
		}
	}
	&__textarea {
		height: auto;
		padding: 7px;
		resize: none;
	}
	&__select {
		width: 100%;
		padding: 0 10px 0 27px;
		height: 40px;
		outline: none;
		font-size: 15px;
		font-family: PT Sans;
		box-shadow: inset 0 4px 7px -7px rgba(0,0,0,0.5);
		border: 1px solid #ccc;
		@include transition(all 0.2s ease-in-out);
		&:focus {
			border: 1px solid #1B8C2B;
		}
	}
	&__submit {
		width: 100%;
		font-size: 18px;
		padding: 5px 22px;
		&-partner {
			width: auto;
			font-weight: normal;
		}
		&-search {
			padding: 7px 22px;
		}
	}
	&__control {
		position: relative;
		margin-bottom: 15px;
		& > .fa {
			color: #444;
			@include position(absolute, 13px null null 8px);
		}
		& > .fa.fa-warning {
			color: #f20;
			@include position(absolute, 13px 8px null auto);
			display: none;
		}
	}
	&__label {
		font-size: 18px;
		font-weight: bold;
		display: block;
		&--checkbox {
			cursor: pointer;
			input {
				width: 16px;
				height: 16px;
				vertical-align: top;
				position: relative;
				top: 2px;
				margin-right: 3px;
			}
			a {
				color: $green;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__result {
		padding: 5px 10px 10px 10px;
		color: #fff;
		font-size: 16px;
		display: none;
		.fa {
			position: relative;
			top: -3px;
		}
		.popular__name {
			color: #fff;
			margin-left: 10px;
			font-size: 20px;
			border-bottom: 1px solid;
		}
		.popular__price {
			font-size: 20px;
			margin: 0;
			color: #fff;
			border-bottom: 1px solid;
		}
		.popular__link {
			&:hover {
				.popular__price,
				.popular__name {
					border-bottom: 1px solid transparent;
				}
			}
		}
	}
	&__block {
		.form__input {
			font-size: 18px;
		}
	}
}
// Модальные
.modal {
	display: none;
	width: 400px;
	border-radius: $radius;
	background: #fff;
	padding: 5px 20px;
	&__title {
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		font-family: PT Sans;
		margin: 10px 0;
		line-height: 27px;
		span {
			display: block;
			font-size: 14px;
			color: #555;
			margin-top: 10px;
		}
		div {
			font-size: 18px;
			font-weight: normal;
			line-height: normal;
			margin: 10px 0 0 0;
		}
	}
	&__submit {
		font-weight: normal;
		display: block;
		padding: 7px 0;
		border-bottom: 3px solid #580707;
		background: #cc0e0e;
		&:active,
		&:focus,
		&:hover {
			background: lighten(#cc0e0e, 5%);
		}
	}
	&__text {
		margin: 5px 0;
		line-height: normal;
	}
}
// блоки с городами на главной
.ways {
	padding-bottom: 40px;
	background: #f5f5f5;
	&__block {
		margin-bottom: 30px;
		position: relative;
		@include display(flex);
		@include align-items(center);
		overflow: hidden;
		border-radius: 5px;
		width: 100%;
		&:before {
			content: '';
			background: rgba(0,0,0, 0.4);
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			z-index: 1;
			@include transition(all 0.2s ease-in-out);
		}
		&:hover {
			.ways__img {
				@include transform(scale(1.15) rotate(-7deg));
			}
			&:before {
				content: '';
				background: rgba(0,0,0, 0.6);
				@include position(absolute, 0 null null 0);
				width: 100%;
				height: 100%;
				z-index: 1;
				@include transition(all 0.2s ease-in-out);
			}
			.ways__block-badge-item {
				padding: 7px 10px 8px 20px;
			}
		}
		&._promo {
			overflow: visible;
			border-radius: 5px;
			&:before {
				content: '';
			    position: absolute;
			    top: 0;
			    background: url(../img/promo.png) 0 0 no-repeat;
			    left: 0;
			    width: 170px;
			    height: 170px;
			}
			.ways__img {
				@include transform(none);
				border-radius: 5px;
			}
			.ways__price {
				font-size: 36px;
				background: #E52326;
				padding: 3px 24px 4px 24px;
				line-height: normal;
				font-weight: bold;
			}
			.ways__title {
				font-size: 38px;
			}
		}
		&-badge {
			@include position(absolute, 15px null null 0);
			z-index: 10;
			&-item {
				padding: 7px 10px 8px 10px;
				color: #fff;
				margin: 0 0 10px;
				font-size: 16px;
				display: inline-block;
				position: relative;
				@include transition(all 0.2s ease-in-out);
				.fa {
					margin-right: 8px;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: -10px;
					height: 100%;
					border-bottom: 38px solid transparent;
					border-left: 10px solid #E52326;
					border-top: 0px solid transparent;
				}
				&-red {
					background: #E52326;
					&:before {
						border-left: 10px solid #E52326;
					}
				}
				&-orange {
					background: #FF9800;
					&:before {
						border-left: 10px solid #FF9800;
					}	
				}
				&-green {
					background: #1B8C2B;
					&:before {
						border-left: 10px solid #1B8C2B;
					}	
				}
				&-blue {
					background: #057FF2;
					&:before {
						border-left: 10px solid #057FF2;
					}	
				}
			}
		}
	}
	&__img {
		width: 100%;
		@include transition(all 0.2s ease-in-out);
	}
	&__price {
		z-index: 2;
		padding: 2px 14px 3px 14px;
		position: relative;
		color: #fff;
		font-size: 24px;
		background: $green;
		display: inline-block;
		margin: 0;
		&-wrapper {
			@include position(absolute, null null 0 0);
			text-align: center;
			width: 100%;
		}
	}
	&__title {
		z-index: 2;
		@include position(absolute, 40% 0 null 0);
		margin: 0;
		width: 100%;
		color: #fff;
		text-align: center;
		font-size: 28px;
		color: #fff;
		text-shadow: 1px 1px 10px #333333;
	}
	// &__link {
	// 	position: relative;
	// 	&._best-price {
	// 		&:before {
	// 			content: '';
	// 			background: url(../img/best-price.png) 0 0 no-repeat;
	// 			@include position(absolute, -20px null null -20px);
	// 			width: 150px;
	// 			height: 145px;
	// 			z-index: 10;
	// 		}
	// 	}
	// 	&._best-way {
	// 		&:before {
	// 			content: '';
	// 			background: url(../img/best-way.png) 0 0 no-repeat;
	// 			@include position(absolute, -20px null null -20px);
	// 			width: 110px;
	// 			height: 110px;
	// 			z-index: 10;
	// 		}
	// 	}
	// }
}
// seo описание
.description {
	padding: 40px 0;
	background: #f5f5f5;
	position: relative;
	&__text {
		font-size: 15px;
		line-height: normal;
	}
	&__title {
		font-size: 18px;
	}
}
// популярные маршруты
.popular {
	padding: 0 0 10px;
	.fa {
		margin-right: 5px;
	}
	&__block {
		margin-bottom: 10px;
	}
	&__link {
		&:hover {
			color: inherit;
			text-decoration: none;
			.popular__price,
			.popular__name {
				border-bottom: 1px solid;
			}
		}
	}
	&__name {
		font-size: 16px;
		margin: 0;
		color: #000;
		display: inline-block;
		line-height: 16px;
	}
	&__price {
		display: inline-block;
		line-height: 16px;
		font-size: 18px;
		margin: 0 0 0 7px;
		color: $green;
		font-weight: bold;
		float: right;
	}
}
// график отправлений
.schedule {
	&__main-title {
		font-weight: normal;
		margin: 20px 0 10px 0;
		// font-size: 24px;
		font-size: 21px;
		.fa {
			margin-right: 10px;
		}
	}
	&__section {
		padding: 0 15px;
	    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
		& > .row {
			&:first-child {
				background: #828282!important;
				.schedule__title {
					color: #fff;
				}
			}
			&:nth-child(even) {
				background: rgba(221, 221, 221, 0.62);
			}
			&:nth-child(odd) {
				background: #F7F7F7;
			}
		}
	}
	&__title {
		font-size: 16px;
	}
	&__auto {
		margin-top: -1em;
	}
	&__btn {
		font-weight: normal;
		display: block;
		padding: 7px 0;
		border-bottom: 3px solid #580707;
		background: #cc0e0e;
		&:active,
		&:focus,
		&:hover {
			background: lighten(#cc0e0e, 5%);
		}
	}
	&__time {
		font-size: 17px;
		font-weight: bold;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	&__price {
		margin-bottom: 0;
		& > * {
			font-size: 22px!important;
		}
	}
	&__text {
		font-size: 16px;
	}
	&__badge {
		display: inline-block;
	    color: #fff;
	    margin-top: 5px;
	    margin-bottom: 10px;
	    border-bottom: none;
	    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
	    &:active {
	    	top: 0;
	    	border-bottom: none;
	    }
	}
}
.advantages {
	margin: 60px 0 20px 0;
	text-align: center;
	.fa {
		color: $green;
		font-size: 5em;
	}
	&__title {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__text {
		font-size: 16px;
		padding: 0 20px;
	}
	&__block {
		margin-bottom: 50px;
	}
	&__main-title {
		margin: 0 0 50px 0;
	}
}
.share {
	margin: 20px 0 40px;
	&__text {
		vertical-align: top;
		display: inline-block;
		margin: 12px 10px 10px 10px;
		font-size: 20px;
		font-weight: bold;
	}
	.fa {
		vertical-align: top;
		margin-top: 13px;
		color: $green;
	}
}
.uptolike-buttons {
	display: inline-block;
	margin-top: 5px;
}
.toggle {
	&-block {
		@include transition(all 0.2s ease-in-out);
		position: relative;
		overflow: hidden;
		max-height: 290px;
		&.active {
			max-height: 5000px;
		}
		// &__text {
		// 	&:after {
		// 		content: '';
		// 		position: absolute;
		// 		bottom: -50px;
		// 		left: -50px;
		// 		right: 0;
		// 		width: 105%;
		// 		z-index: 2;
		// 		height: 30px;
		// 		box-shadow: 0 -37px 36px #f5f5f5;
		// 	}
		// }
	}
	&-link {
		// color: $green;
		// font-size: 16px;
		// display: inline-block;
		margin-top: 25px;
		// border-bottom: 1px dashed;
		// &:hover {
		// 	color: $green;
		// 	text-decoration: none;
		// 	border-bottom: 1px solid transparent;
		// }
		// &:focus,
		// &:active {
		// 	color: $green;
		// 	text-decoration: none;
		// }
		&__text {
			@extend .toggle-link;
			margin-top: 20px;
		}
	}
}
.back {
	&__link {
		color: #fff;
		font-size: 18px;
		font-weight: normal;
		&:focus,
		&:active,
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		.fa {
			color: #fff;
			display: inline-block;
			margin-right: 5px;
		}
	}
}
.breadcrumbs {
	&__list {
		list-style-type: none;
		padding: 0;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:not(:last-child) {
			margin-right: 15px;
			&:before {
				content: "\f101";
				@include position(absolute, 3px -12px null null);
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
	&__link {
		color: #1B8C2B;
	    border-bottom: 1px solid;
	    @include transition(all 0.2s ease-in-out);
	    &:focus,
	    &:hover {
	    	text-decoration: none;
	    	color: #1B8C2B;
	    	border-bottom: 1px solid transparent; 
	    }
	    &.current {
	    	color: #000;
	    	border-bottom: 1px solid transparent; 
	    }
	}
}
.attention {
	padding: 20px 0;
	&__block {
		padding: 30px;
		text-align: center;
		border: 4px solid #f20;
		margin: 0 auto;
		background: #fff;
		max-width: 1140px;
		&-text {
			font-size: 16px;
			&-red {
				color: #f20;
			    font-size: 22px;
			    margin: 0;
			}
			& * {
				display: inline-block;
			}
		}
		&-note {
			color: #777;
		}
	}
}
.service {
	&__block {
		text-align: center;
		border: 1px solid #ddd;
		margin: 0 auto 30px auto;
		max-width: 360px;
		@include transition(all 0.2s ease-in-out);
		&:hover {
			border-color: #1B8C2B;
			box-shadow: 0px 0px 2px #1B8C2B;
			.service__title {
				opacity: 0;
			}
			.service__text {
				opacity: 1;
			}
		}
		a {
			color: inherit;
			text-decoration: none;
			color: #2b2f38;
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}
		&-top,
		&-bottom {
			position: relative;
		}
	}
	&__icon {
		@include position(absolute, 0 0 0 0);
	}
	&__title {
		text-transform: uppercase;
		font-size: 20px;
		margin: 35px 0;
		color: #2b2f38;
		letter-spacing: 1px;
		@include transition(all 0.2s ease-in-out);
	}
	&__subtitle {
		font-size: 20px;
		margin: 20px 0;
		color: #2b2f38;
	}
	&__main-title {
		text-shadow: none;
		color: #333;
	}
	&__text {
		padding: 0 10px;
		font-size: 16px;
		margin: -70px 0 25px 0;
		opacity: 0;
		@include transition(all 0.2s ease-in-out);
	}
	&__main {
		background: url(../img/content/service.jpg) 0 0 no-repeat;
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		overflow: hidden;
		min-height: 600px;
		background-size: cover;
	}
	&__page {
		&-title {
			text-transform: uppercase;
			font-size: 50px;
			color: #fff;
			font-weight: bold;
			margin: 0 0 -5px;
			width: 100%;
		}
		&-subtitle {
			text-transform: uppercase;
			color: #fff;
			font-size: 23px;
			margin: 0;
			padding: 0 0 28px;
			width: 100%;
			position: relative;
			font-weight: bold;
			&:before {
				content: '';
				@include position(absolute, null 0 0 0);
				width: 160px;
				height: 2px;
				background: #fff;
				margin: 0 auto;
			}
		}
		&-preview {
			text-align: center;
			// height: calc(100vh - 269px);
			height: 85vh;
			min-height: 500px;
			@include align-content(center);
			@include flex-wrap(wrap);
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
		}
	}
	&__form {
		&-block {
			padding: 35px 0 28px;
			background: #191F26;
			.form__label {
				color: #fff;
				font-weight: normal;
				margin-bottom: 5px;
				.fa {
					margin-right: 5px;
				}
			}
			.form__input {
				padding: 0 10px;
			}
		}
		&-btn {
			border-bottom: 3px solid #580707;
			background: #cc0e0e;
			margin-top: 28px;
		    font-size: 20px;
		    padding: 16px 0;
			&:active,
			&:focus,
			&:hover {
				background: lighten(#cc0e0e, 5%);
			}
		}
		&-quantity {
			max-width: 140px;
			display: inline-block;
			padding: 0 10px;
			text-align: center;
			margin-left: 10px;
		}
	}
	&__advantages {
		padding: 60px 0 25px 0;
	}
	&__description {
		margin-bottom: 30px;
		@include clearfix;
		&-icon {
			float: left;
			border: 2px solid #34394A;
			color: #34394A;
			border-radius: 50%;
			height: 100px;
			width: 100px;
			font-size: 50px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
		}
		&-block {
			margin-left: 120px;
		}
		&-title {
			margin: 0 0 15px;
			text-transform: uppercase;
			color: $green;
			font-size: 18px;
			font-weight: bold;
		}
		&-text {
			font-size: 15px;
		}
	}
	&__line {
		&-block {
			background: #1B8C2B;
			padding: 15px 0;
		}
		&-title {
			margin: 6px 0;
			font-size: 29px;
			color: #fff;
			text-align: center;
		}
		&-btn {
			border-bottom: 3px solid #580707;
			background: #cc0e0e;
		    font-size: 20px;
		    width: 100%;
		    text-align: center;
		    padding: 12px 0;
			&:active,
			&:focus,
			&:hover {
				background: lighten(#cc0e0e, 5%);
			}
		}
	}
	&__auto {
		max-width: 1920px;
		margin: 0 auto;
		&-description {
			padding: 25px 30px;
		    border-right: 1px solid #DFDFD0;
			&-title {
				font-size: 20px;
				margin: 0 0 15px 0;
				text-transform: uppercase;
				font-weight: bold;
				color: $green;
			}
			&-text {
			    text-shadow: 0 0 0 #ccc;
			    margin:  0 0 15px;
			}
		}
	}
	&__work {
		background: #191F26 url(../img/service/work.png) bottom center no-repeat;
		padding: 50px 0 30px;
		&-title {
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			position: relative;
			margin-bottom: 50px;
			font-size: 39px;
			text-align: center;
			.fa {
				color: #1B8C2B;
				position: relative;
				top: -10px;
				left: -10px;
				font-size: 85%;
			}
		}
		&-block {
			color: #fff;
			min-width: 230px;
			max-width: 300px;
			width: 20%;
			margin: 0 auto 30px auto;
			padding: 0 15px;
			vertical-align: top;
			display: inline-block;
			&-section {
				text-align: center;
				margin: 0 -15px;
			}
		}
		&-icon {
			border-radius: 50%;
			border: 2px solid #fff;
			width: 100px;
			height: 100px;
			margin: 0 auto;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			.fa {
				font-size: 45px;
			}
		}
		&-step-title {
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: -10px;
			font-size: 24px;
		}
		&-text {
			line-height: normal;
			font-size: 18px;
			a {
				color: #fff;
				border-bottom: 1px dotted #fff;
				@include transition(all 0.2s ease-in-out);
				&:focus,
				&:hover {
					border-bottom: 1px dotted transparent;
					text-decoration: none;
				}
			}
		}
	}
	&__faq {
	    background: #f5f5f5;
	    padding-bottom: 50px;
	    &-title {
	    	font-size: 38px;
	    	font-weight: bold;
	    	text-align: center;
	    	margin: 40px 0 20px;
	    	text-transform: uppercase;
	    }
	    &-list {
	    	list-style-type: none;
	    	padding: 0;
	    	margin: 0;
	    	&-item {
	    		padding: 10px;
	    		&:not(:last-child) {
	    			border-bottom: 1px solid #ced5e2;
	    		}
	    	}
	    	&-question {
	    		font-size: 20px;
    		    color: #000;
    		    font-weight: bold;
    		    display: block;
    		    &:hover,
    		    &:focus {
    		    	text-decoration: none;
    		    	color: #000;
    		    }
    		    .fa {
    		    	margin-top: 5px;
    		    	margin-left: 10px;
    		    	@include transition(all 0.2s ease-in-out);
    		    }
    		    &.active {
    		    	.fa {
    		    		@include transform(rotate(180deg));
    		    	}
    		    }
	    	}
	    	&-answer {
	    		font-size: 16px;
	    		display: none;
	    		padding-bottom: 20px;
	    		a {
	    			color: $green;
	    			border-bottom: 1px dashed $green;
	    			@include transition(all 0.2s ease-in-out);
	    			&:hover,
	    			&:focus {
	    				text-decoration: none;
	    				border-bottom: 1px dashed transparent;
	    			}
	    		}
	    	}
	    }
	}
}
.hotels {
	background: #f5f5f5;
	padding-bottom: 10px;
	.title {
		margin: 20px 0;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}
	&__block {
		border: 2px solid #ddd;
		max-width: 360px;
		background: #fff;
		margin: 5px auto 30px auto;
		@include transition(all 0.2s ease-in-out);
		&:hover {
		    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.43);
			.hotels__block-description {
				right: 4px;
			}
		}
		&-img {
			&-wrap {
				overflow: hidden;
				position: relative;
				&:before {
					content: '';
					@include position(absolute, 3px 0 0 3px);
					border: 2px solid #fff;
					width: calc(100% - 7px);
					height: calc(100% - 7px);
				}
			}
		}
		&-name {
			background: #fff;
			padding: 8px 12px;
			&-title {
				font-size: 18px;
				font-weight: bold;
				margin: 0;
			}
		}
		&-price {
			color: #777;
			margin: 0;
			font-size: 12px;
			@include position(absolute, null null 4px 4px);
			background: #fff;
			padding: 0px 8px 2px 8px;
			span {
				color: #000;
				font-weight: bold;
				font-size: 22px;
			}
		}
		&-address {
			color: #777;
			margin: 3px 0;
			.fa {
				color: #000;
				width: 11px;
				text-align: center;
				margin-right: 7px;
			}
		}
		&-description {
			position: absolute;
		    padding: 0px 0 8px 0;
		    @include transition(all 0.2s ease-in-out);
		    @include position(absolute, 3px -70px null null);
		    width: 95px;
	        background: #fff;
	        white-space: nowrap;
			&-title {
				margin: 0 0 15px;
				font-weight: bold;
				font-size: 16px;
				text-align: center;
				text-transform: uppercase;
			}
			&-name {
				display: inline-block;
				margin-top: 5px;
				font-size: 12px;
				@include transition(all 0.2s ease-in-out);
			}
			&-list {
				margin: 0;
			    padding: 0;
			    list-style: none;
				&-item {
					display: block;
					vertical-align: top;
					margin-bottom: 2px;
					padding: 0 7px 0 4px;
				}
				.fa {
					width: 18px;
					text-align: center;
					margin-right: 4px;
					margin-top: 7px;
					font-size: 15px;
					display: inline-block;
				}
			}
		}
		&-footer {
			margin: 0 0 10px;
			text-align: center;
		}
	}
	&__btn-trigger {
		float: right;
		max-width: 202px;
		margin: 2px 0 10px 10px;
	}
}
.index-advantages {
	background: url(../img/index-road.jpg) center no-repeat;
	text-align: center;
	color: #fff;
	padding: 80px 0px 40px;
	background-size: cover;
	box-shadow: 0px 0 5px #000;
	.fa {
		min-height: 56px;
	}
	&__block {
		min-height: 122px;
	}
	&__title {
		font-size: 18px;
		color: #fff;
		margin: 10px 0;
		display: block;
		line-height: normal;
	}
}









// стилизация пуш окна
.sendpulse-safari .sendpulse-prompt-buttons .sp-link-wrapper {
	display: none!important;
}
.sendpulse-prompt-buttons {
	text-align: center!important;
}
.sendpulse-safari .sendpulse-prompt-info {
	margin-bottom: 0 !important;
}
@media (min-width: 480px) {
	.sendpulse-safari.sendpulse-prompt {
	    width: 390px!important;
	    margin-left: -180px!important;
	}	
}

// убираем стрелки на input date
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.g-invisible object {
	display: none;
}