.index-advantages
	.container
		.row
			.col-sm-4.col-md-2.col-xs-6.col-xxs-12.margin-bottom-30.text-center.index-advantages__block
				i.fa.fa-4x.fa-road
				span.index-advantages__title Более 400 направлений
			.col-sm-4.col-md-2.col-xs-6.col-xxs-12.margin-bottom-30.text-center.index-advantages__block
				i.fa.fa-4x.fa-clock-o
				span.index-advantages__title Бронирование за 1 минуту
			.col-sm-4.col-md-2.col-xs-6.col-xxs-12.margin-bottom-30.text-center.index-advantages__block
				i.fa.fa-4x.fa-search
				span.index-advantages__title Быстрый и точный поиск
			.col-sm-4.col-md-2.col-xs-6.col-xxs-12.margin-bottom-30.text-center.index-advantages__block
				i.fa.fa-4x.fa-user-plus
				span.index-advantages__title Индивидуальный подход
			.col-sm-4.col-md-2.col-xs-6.col-xxs-12.margin-bottom-30.text-center.index-advantages__block
				i.fa.fa-4x.fa-phone
				span.index-advantages__title Горячая линия по России
			.col-sm-4.col-md-2.col-xs-6.col-xxs-12.margin-bottom-30.text-center.index-advantages__block
				i.fa.fa-4x.fa-star
				span.index-advantages__title Акции и скидки для пассажиров