.popular
	.container
		p.title 
			i.fa.fa-road
			strong Все наши направления:
		.row
			.col-md-5.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/rus.png", alt="flag")
					| в Россию
				.toggle-block
					include ../modules/_to-russia
				.text-center
					a.btn.toggle-link(href="javascript:void(0);")
						i.fa.fa-road
						| Еще маршруты
			.col-md-5.col-sm-6.col-md-offset-2.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/rus.png", alt="flag")
					| из России
				.toggle-block
					include ../modules/_from-russia
				.text-center
					a.btn.toggle-link(href="javascript:void(0);")
						i.fa.fa-road
						| Еще маршруты
		.row
			.col-md-5.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/ukr.png", alt="flag")
					| в Украину
				.toggle-block
					include ../modules/_to-ukraine
				.text-center
					a.btn.toggle-link(href="javascript:void(0);")
						i.fa.fa-road
						| Еще маршруты
			.col-md-5.col-md-offset-2.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/ukr.png", alt="flag")
					| из Украины
				.toggle-block
					include ../modules/_from-ukraine
				.text-center
					a.btn.toggle-link(href="javascript:void(0);")
						i.fa.fa-road
						| Еще маршруты
		.row
			.col-md-5.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/pol.jpg", alt="flag")
					| в Польшу
				.toggle-block
					include ../modules/_to-poland
				//- .text-center
				//- 	a.toggle-link(href="javascript:void(0);") Еще маршруты
			.col-md-5.col-md-offset-2.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/pol.jpg", alt="flag")
					| из Польши
				.toggle-block
					include ../modules/_from-poland
				//- .text-center
				//- 	a.toggle-link(href="javascript:void(0);") Еще маршруты
		.row
			.col-md-5.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/bel.jpg", alt="flag")
					| в Белоруссию
				.toggle-block
					include ../modules/_to-belorus
				//- .text-center
				//- 	a.toggle-link(href="javascript:void(0);") Еще маршруты
			.col-md-5.col-md-offset-2.col-sm-6.margin-bottom-50
				h3.subtitle 
					img.subtitle__img(src="/img/bel.jpg", alt="flag")
					| из Белорусии
				.toggle-block
					include ../modules/_from-belorus
				//- .text-center
				//- 	a.toggle-link(href="javascript:void(0);") Еще маршруты
		