@media (max-width: 767px) {
	.header {
		padding: 15px 0 20px 0;
		&__btn {
			margin: 0 0 15px;
		}
		&__hotline {
			font-size: 14px;
		}
	}
	.toTop.active {
		bottom: 10px;
	}
	.main {
		padding: 40px 0;
		background-size: cover!important;
		&__form {
			padding: 10px 10px;
			margin: 0 20px;
		}
		&__title {
			font-size: 28px;
		}
	}
	.main-menu {
		margin-top: 10px;
		&__item {
			display: block;
			margin: 0 -15px;
			border-top: 1px solid #fff;
			&:not(:last-child) {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
		&__list {
			display: none;
		}
		&__link {
			font-size: 17px;
			&-sticker {
				right: -4px;
			}
		}
	}
	.ways {
		&__block {
			display: block;
			max-width: 500px;
			margin: 0 auto 30px auto;
			&:hover {
				.ways__img {
					@include transform(scale(1) rotate(0deg));	
				}
			}
			&-badge {
				top: 10px;
				&-item {
					font-size: 16px;
					margin: 0 0 5px;
				}
			}
		}
		&__title {
			font-size: 38px;
		}
		&__price {
			font-size: 28px;
			font-weight: bold;
		}
	}
	.footer {
		&__micro,
		&__copyright,
		&__social,
		&__phone-block {
			text-align: center;
		}
		&__micro {
			&.dib {
				display: block;
			}
		}
		&__social {
			margin: 20px 0;
		}
		&__phone {
			margin: 0 0 5px;
			display: block;
			&-block {
				margin: 0;
			}
		}
		&__link {
			&-block {
				margin: 20px 0;
			}
		}
	}
	.advantages  {
		&__block {
			max-width: 400px;
			margin: 0 auto 40px auto;
		}
		.fa {
			font-size: 5em;
		}
	}
	.schedule {
		&__section {
			padding: 0;
			box-shadow: none;
		}
		&__main-title {
			font-size: 18px;
		}
		&__btn {
			font-size: 20px;
		}
	}
	.form {
		&__input,
		&__select {
			box-shadow: none;
		}
		&__result {
			padding: 20px 10px 0 10px;
		}
	}
	.popular {
		&__price,
		&__name {
			font-size: 14px;
			border-bottom: 1px solid;
		}
		&__price {
			margin: 2px 0 0 7px;
			font-size: 16px;
		}
		&__link {
			&:hover {
				.popular__price,
				.popular__name {
					border-bottom: 1px solid transparent;
				}	
			}
		}
	}
	.attention {
		&__block {
			padding: 15px;
			&-text {
				font-size: 14px;
				&-red {
					font-size: 18px;
				}
			}
		}
	}
	.toTop {
		padding: 6px 8px 8px;
		bottom: 10px;
	}
	.service {
		&__main-title {
			margin: 15px 0;
		}
		&__form  {
			&-btn {
				margin-top: 0;
				padding: 12px 0;
				font-size: 18px;
			}
			&-block {
				.form__label {
					font-size: 16px;
				}
			}
		}
		&__line-title {
			margin: 6px 0 15px;
		}
		&__line-btn {
			max-width: 290px;
			margin: 0 auto 10px auto;
			display: block;
		}
	}
	.m-b-xs-15 {
		margin-bottom: 15px;
	}
	.hotels {
		&__block {
			&-description {
				right: 4px;
				width: auto;
				&-list {
					.fa {
						font-size: 18px;
						margin-right: 6px;
					}
				}
				&-name {
					font-size: 14px;
				}
			}
		}
		&__btn-trigger {
			display: block;
			margin: 10px auto -10px auto;
			display: block;
			text-align: center;
			float: none;
		}
	}
}
@media (max-width: 500px) {
	.header {
		&__phone {
			font-size: 16px;
			margin-left: -30px;
			&:before {
				display: none;
			}
			&._viber,
			&._headphones {
				margin: -30px -5px 5px -10px;
			}
			&-prefix {
				font-size: 14px;
				margin: 0 5px 0 0;
			}
		}
	}
	.main {
		&__form {
			margin: 0;
		}
		&__title {
			font-size: 22px;
			line-height: normal;
		}
	}
	.title {
		font-size: 24px;
		margin: 40px 0 20px;
	}
	.modal {
		width: 280px;
		padding: 5px 10px;
	}
	.form {
		&__result {
			text-align: center;
			.popular__price {
				display: none;
			}
		}
	}
	.advantages  {
		margin: 0 0 20px 0;
		&__main-title {
			margin: 20px 0;
		}
	}
	.share {
		margin: 20px 0;
	}
	
	.ways {
		&__title {
			font-size: 28px;
		}
		&__price {
			font-size: 24px;
		}
	}
	.back__link {
		font-size: 16px;
		.fa {
			display: none;
		}
	}
	.service {
		&__form {
			&-block  {
				.form__input {
					display: block;
					margin: 0;
					width: 100%;
				}
			}
		}
		&__page {
			&-title {
				font-size: 30px;
			}
			&-subtitle {
				font-size: 16px;
			}
		}
		&__description {
			&-icon {
				height: 70px;
				width: 70px;
				font-size: 30px;
			}
			&-block {
				margin-left: 85px;
			}
		}
		&__line-title {
			font-size: 20px;
		}
		&__work-title {
			font-size: 27px;
		}
		&__faq {
			&-title {
				font-size: 26px;	
			}
			&-list {
				&-item {
					padding: 10px 0;
				}
				&-question {
					font-size: 17px;
				}
				&-answer {
					font-size: 15px;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.main {
		// padding: 120px 0;
		padding: 80px 0;
		&__title {
			font-size: 32px;
		}
	}
	.main-menu {
		&__link {
			font-size: 16px;
			padding: 13px 9px;
		}
	}
	.service {
		&__form {
			&-block {
				.form__label {
					font-size: 16px;
				}		
			}
			&-quantity {
				width: 62px;
			}
		}
		&__description {
			&-icon {
				float: none;
				margin-bottom: 10px;
			}
			&-block {
				margin-left: 0;
			}
		}
		&__line-title {
			font-size: 24px;
		}
		&__line-btn {
			margin-top: 15px;
		}
	}
	.form__control {
		&.margin-top-30 {
			margin-top: 27px;
		}
	}
	.schedule {
		&__btn {
			font-size: 14px;
			margin-right: -8px;
		}
	}
	.hotels {
		&__block {
			min-height: 350px;
			&-description {
				right: 4px;
				width: auto;
				&-list {
					.fa {
						font-size: 18px;
						margin-right: 6px;
					}
				}
				&-name {
					font-size: 14px;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.ways {
		&__block {
			&-badge {
				top: 10px;
				&-item {
					font-size: 16px;
					margin: 0 0 5px;
				}
			}
		}
	}
	.service {
		&__form-quantity {
			width: 102px;
		}
		&__line-title {
			font-size: 28px;
		}
		&__work-block {
			width: 30%;
		}
	}
	.header {
		&__time {
			margin: 10px 0 -10px 0px;
		}
	}

}
@media (min-width: 768px) {
	.main-menu {
		&__list {
			display: block !important;
		}
	}
	.schedule {
		&__btn {
			margin-top: -10px;
		}
	}
}
@media (min-width: 1200px) {
	.header__btn {
		margin-left: 50px;
	}
}
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
	.title {
		font-size: 50px;
	}
	.ways {
		&__title {
			font-size: 45px;
		}
		&__block {
			&._promo .ways__title {
				font-size: 50px;
			}
		}
		&__price {
			font-size: 30px;
		}
	}
	.hotels {
		&__block {
			&-description {
				right: 4px;
				&-name {
					font-size: 13px;
				}
			}
		}
	}
}
@media (max-height: 420px) {
	.modal__title {
		margin: 6px 0;
	}
	.xxs-height {
		display: none;
	}
}
@media (max-width: 991px) {
	.container {
		width: auto;
	}
}