.main-wrapper {
	overflow: hidden;
}
.text-left {
	text-align: left!important;
}
.text-right {
	text-align: right!important;
}
.text-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.text-dashed {
	border-bottom: 1px dashed;
	&:hover {
		border-color: transparent;
	}
}
.no-padding {padding: 0 !important;}
.no-margin {margin: 0!important;}

.p-5 {
	padding: 5px;
}

.margin-top-10 {margin-top: 10px}
.margin-top-15 {margin-top: 15px!important}
.margin-top-20 {margin-top: 20px}
.margin-top-30 {margin-top: 30px}
.margin-top-40 {margin-top: 40px}
.margin-top-50 {margin-top: 50px}
.margin-left-5 {margin-left: 5px}
.margin-left-10 {margin-left: 10px}
.margin-left-15 {margin-left: 15px}
.margin-left-20 {margin-left: 20px}
.margin-left-25 {margin-left: 25px}
.margin-right-5 {margin-right: 5px}
.margin-right-10 {margin-right: 10px}
.margin-right-15 {margin-right: 15px}
.margin-right-20 {margin-right: 20px}
.margin-right-25 {margin-right: 25px}
.margin-bottom-10 {margin-bottom: 10px}
.margin-bottom-15 {margin-bottom: 15px!important}
.margin-bottom-20 {margin-bottom: 20px}
.margin-bottom-30 {margin-bottom: 30px}
.margin-bottom-40 {margin-bottom: 40px}
.margin-bottom-50 {margin-bottom: 50px}

.strong {
	font-weight: bold;
}
.line-height-normal {
	line-height: normal
}
.uppercase {
	text-transform: uppercase;
}

.color-green {
	color: $green;
}
.color-red {
	color: #f20;
}
.color-black {
	color: #000;
}
p:empty {
	display: none;
}
.relative {
	position: relative;
}
.btn {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-radius: $radius;
	padding: 7px 22px;
	background: $green;
	position: relative;
	border: none;
	border-bottom: 3px solid #075813;
	font-family: PT Sans;
	font-size: 16px;
	top: 0;
	@include transition(all 0.2s ease-in-out);
	&:active,
	&:focus,
	&:hover {
		color: #fff;
		text-decoration: none;
		background: lighten($green, 5%);
	}
	&:active {
		@include transition(all 0.2s ease-in-out);
		border-bottom: 3px solid transparent;
		top: 3px;
	}
	&-red {
		font-weight: normal;
		padding: 7px 22px;
		border-bottom: 3px solid #580707;
		background: #cc0e0e;
		&:active,
		&:focus,
		&:hover {
			background: lighten(#cc0e0e, 5%);
		}
	}
	&-green {
		background: $green!important;
		border-bottom: 3px solid #075813!important;
		&:active,
		&:focus,
		&:hover {
			color: #fff;
			text-decoration: none;
			background: lighten($green, 5%)!important;
		}
	}
	&-block {
		width: 100%;
		display: block;
	}
	&-denied {
		background: #828282!important;
		border-bottom: 3px solid #565656!important;
	}
	&-sm {
		padding: 3px 10px;
		font-size: 14px;
	}
	&-large {
		&__icon {
			font-size: 22px;
			margin-bottom: 20px;
			.fa {
				&:first-child {
					float: left;
					margin: 6px 10px 0 0;
				}
				&:last-child {
					float: right;
					margin: 6px 0 0 0;
				}
			}
		}
	}
}
.thanks-text {
	padding: 60px 0;
}
a {
	color: $green;
	&:hover {
		color: $green;
	}
}

.panel {
	border-radius: 0;
	&-heading {
		font-size: 24px;
	}
	&-default {
		& > .panel-heading {
			color: #fff;
			background: $green;
			border-radius: 0;
			border-color: $green;
		}
	}
	&-danger {
		& > .panel-heading {
			color: #fff;
			background: $red;
			border-radius: 0;
			border-color: $red;
		}
	}
}

td.day:not(.disabled) {
	background: $green;
    color: #fff;
}
.datepicker-days table {
	border-spacing: 1px;
    border-collapse: inherit;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled],
.datepicker table tr td.day.focused:not(.disabled), .datepicker table tr td.day:not(.disabled):hover {
	background: $red;
}