.main-wrapper {
	overflow: hidden;
}
.text-left {
	text-align: left!important;
}
.text-right {
	text-align: right!important;
}
.text-center {
	text-align: center;
}
.no-padding {padding: 0 !important;}
.no-margin {
	margin: 0!important;
}
.margin-top-30 {margin-top: 30px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.fa.fa-rub {
	font-size: 85%;
	margin: 0 0 0 5px!important;
	top: 0!important;
}
.strong {
	font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}

.color-green {
	color: $green;
}
.color-red {
	color: #f20;
}
p:empty {
	display: none;
}
.btn {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-radius: $radius;
	padding: 7px 22px;
	background: $green;
	position: relative;
	border: none;
	border-bottom: 3px solid #075813;
	font-family: PT Sans;
	font-size: 16px;
	top: 0;
	@include transition(all 0.2s ease-in-out);
	&:active,
	&:focus,
	&:hover {
		color: #fff;
		text-decoration: none;
		background: lighten($green, 5%);
	}
	&:active {
		@include transition(all 0.2s ease-in-out);
		border-bottom: 3px solid transparent;
		top: 3px;
	}
	&-red {
		font-weight: normal;
		padding: 7px 22px;
		border-bottom: 3px solid #580707;
		background: #cc0e0e;
		&:active,
		&:focus,
		&:hover {
			background: lighten(#cc0e0e, 5%);
		}
	}
	&-denied {
		background: #828282!important;
		border-bottom: 3px solid #565656!important;
	}
	&-sm {
		padding: 3px 10px;
		font-size: 14px;
	}
}