.header {
	padding: 20px 0;
	&__phone {
		text-decoration: none;
		color: #000;
		font-weight: bold;
		font-size: 24px;
		position: relative;
		display: inline-block;
		font-family: 'Roboto';
		&:active,
		&:focus,
		&:hover {
			text-decoration: none;
			color: #000;
		}
		&._headphones {
			&:before {
				content: '';
				background: url(../img/phone.png) 0 0 no-repeat;
				@include position(absolute, 4px null null -30px);
				width: 24px;
				height: 19px;
			}
		}
		&._viber {
			&:before {
				content: '';
				background: url(../img/viber.png) 0 0 no-repeat;
				@include position(absolute, 3px null null -30px);
				width: 24px;
				height: 24px;
			}
		}
		&-prefix {
			font-size: 18px;
			color: #887E7E;
			vertical-align: top;
			margin: 2px 5px 0 0;
			display: inline-block;
		}
	}
	&__btn {
		margin-top: 15px;
	}
}