.hotels
	.container
		h3.title Рекомендуемые отели и гостиницы Москвы
		.row
			.col-sm-6.col-md-3
				.hotels__block
					a(href="#!")
						.hotels__block-img-wrap
							img.hotels__block-img(src="http://www.zvezdnaya.ru/uploads/_CGSmartImage/odnokomnatnyj-odnomestnyj-uluchshennyj_src_1-abca4b18352f9c6757d22117808ba03f.jpg", alt="")
							p.hotels__block-price
								| от 
								span 5 400
									i.fa.fa-rub
								|  за номер
							.hotels__block-description
								ul.hotels__block-description-list
									li.hotels__block-description-list-item
										i.color-green.fa.fa-wifi.fa-lg
										span.hotels__block-description-name Wi-Fi
									li.hotels__block-description-list-item
										i.color-green.fa.fa-cutlery.fa-lg
										span.hotels__block-description-name Столовая
									li.hotels__block-description-list-item
										i.color-green.fa.fa-subway.fa-lg
										span.hotels__block-description-name 400 м
									li.hotels__block-description-list-item
										i.color-green.fa.fa-leaf.fa-lg
										span.hotels__block-description-name SPA
						.hotels__block-name
							p.hotels__block-name-title Отель "Good Room"
							.hotels__block-address
								i.fa.fa-map-marker
								| Подсосенский пер., д.3, стр.2
						.hotels__block-footer
							.btn.btn-red
								i.fa.fa-info-circle
								|  Подробнее
			.col-sm-6.col-md-3
				.hotels__block
					a(href="#!")
						.hotels__block-img-wrap
							img.hotels__block-img(src="http://www.zvezdnaya.ru/uploads/_CGSmartImage/polulyuks-studiya-uluchshennaya_src_1-5af35c127e39457fe4bcb905fb153925.jpg", alt="")
							p.hotels__block-price
								| от 
								span 7 400
									i.fa.fa-rub
								|  за номер
							.hotels__block-description
								ul.hotels__block-description-list
									li.hotels__block-description-list-item
										i.color-green.fa.fa-wifi.fa-lg
										span.hotels__block-description-name Wi-Fi
									li.hotels__block-description-list-item
										i.color-green.fa.fa-cutlery.fa-lg
										span.hotels__block-description-name Бар
									li.hotels__block-description-list-item
										i.color-green.fa.fa-television.fa-lg
										span.hotels__block-description-name ТВ
									li.hotels__block-description-list-item
										i.color-green.fa.fa-tint.fa-lg
										span.hotels__block-description-name Сауна
						.hotels__block-name
							p.hotels__block-name-title Гостиница New Day
							.hotels__block-address
								i.fa.fa-map-marker
								| ул. Бахчисарайсая 8
						.hotels__block-footer
							.btn.btn-red
								i.fa.fa-info-circle
								|  Подробнее
			.col-sm-6.col-md-3
				.hotels__block
					a(href="#!")
						.hotels__block-img-wrap
							img.hotels__block-img(src="http://www.zvezdnaya.ru/uploads/_CGSmartImage/lyuks-stilnyj_src_1-986a3245fc61f01c4a9c791697ff1203.jpg", alt="")
							p.hotels__block-price
								| от 
								span 400
									i.fa.fa-rub
								|  за место
							.hotels__block-description
								ul.hotels__block-description-list
									li.hotels__block-description-list-item
										i.color-green.fa.fa-plane.fa-lg
										span.hotels__block-description-name 700 м
									li.hotels__block-description-list-item
										i.color-green.fa.fa-cutlery.fa-lg
										span.hotels__block-description-name Бар
									li.hotels__block-description-list-item
										i.color-green.fa.fa-tint.fa-lg
										span.hotels__block-description-name Сауна
						.hotels__block-name
							p.hotels__block-name-title Rivera Hostel
							.hotels__block-address
								i.fa.fa-map-marker
								| ул. Ломоносова 47, кор. 2
						.hotels__block-footer
							.btn.btn-red
								i.fa.fa-info-circle
								|  Подробнее
			.col-sm-6.col-md-3
				.hotels__block
					a(href="#!")
						.hotels__block-img-wrap
							img.hotels__block-img(src="http://www.zvezdnaya.ru/uploads/_CGSmartImage/lyuks-yaponskij_src_1-7607eb7d8456a3c44d4a167a94e740a8.jpg", alt="")
							p.hotels__block-price
								| от 
								span 1 200
									i.fa.fa-rub
								|  за номер
							.hotels__block-description
								ul.hotels__block-description-list
									li.hotels__block-description-list-item
										i.color-green.fa.fa-wifi.fa-lg
										span.hotels__block-description-name Wi-Fi
									li.hotels__block-description-list-item
										i.color-green.fa.fa-subway.fa-lg
										span.hotels__block-description-name 200 м
									li.hotels__block-description-list-item
										i.color-green.fa.fa-fire.fa-lg
										span.hotels__block-description-name Камин
									li.hotels__block-description-list-item
										i.color-green.fa.fa-cutlery.fa-lg
										span.hotels__block-description-name Кухня
									li.hotels__block-description-list-item
										i.color-green.fa.fa-tint.fa-lg
										span.hotels__block-description-name Сауна
						.hotels__block-name
							p.hotels__block-name-title Гостиница Партенида
							.hotels__block-address
								i.fa.fa-map-marker
								| пр-т. Строителей 12
						.hotels__block-footer
							.btn.btn-red
								i.fa.fa-info-circle
								|  Подробнее