.hotels#target-hotel
	noindex
		.container
			h3.title Рекомендуемые отели и хостелы в Москве
			.row
				.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
					.hotels__block(onclick="yaCounter36626610.reachGoal('zahodi'); return true;")
						a(href="http://www.blr.hostel-zaxodi.ru/" rel="nofollow" target="_blank")
							.hotels__block-img-wrap
								img.hotels__block-img(src="/img/hotels/moscow/z-belorus.jpg", alt="Хостел 'Заходи!' на Белорусской")
								p.hotels__block-price
									| от 
									span 540
										i.fa.fa-rub
									|  за место
								.hotels__block-description
									ul.hotels__block-description-list
										li.hotels__block-description-list-item
											i.color-green.fa.fa-wifi.fa-lg
											span.hotels__block-description-name Wi-Fi
										li.hotels__block-description-list-item
											i.color-green.fa.fa-shield.fa-lg
											span.hotels__block-description-name Сейф
										li.hotels__block-description-list-item
											i.color-green.fa.fa-cutlery.fa-lg
											span.hotels__block-description-name Кухня
										li.hotels__block-description-list-item
											i.color-green.fa.fa-snowflake-o.fa-lg
											span.hotels__block-description-name Конд-р
										li.hotels__block-description-list-item
											i.color-green.fa.fa-glass.fa-lg
											span.hotels__block-description-name Лаунж-зона
							.hotels__block-name
								p.hotels__block-name-title Хостел "Заходи!" на Белорусской
								.hotels__block-address
									i.fa.fa-map-marker
									| ул. Лесная, 55, стр.5
								.hotels__block-address
									i.fa.fa-percent
									| Скидка 15% с промокодом "Всепути"
							.hotels__block-footer
								.btn.btn-red
									i.fa.fa-info-circle
									|  Подробнее
				//- .col-sm-6.col-md-4
				//- 	.hotels__block(onclick="yaCounter36626610.reachGoal('fusion'); return true;")
				//- 		a(href="http://hostelfusion.ru/" rel="nofollow" target="_blank")
				//- 			.hotels__block-img-wrap
				//- 				img.hotels__block-img(src="/img/hotels/moscow/fusion.jpg", alt="Хостел Fusion!")
				//- 				p.hotels__block-price
				//- 					| от 
				//- 					span 650
				//- 						i.fa.fa-rub
				//- 					|  за место
				//- 				.hotels__block-description
				//- 					ul.hotels__block-description-list
				//- 						li.hotels__block-description-list-item
				//- 							i.color-green.fa.fa-wifi.fa-lg
				//- 							span.hotels__block-description-name Wi-Fi
				//- 						li.hotels__block-description-list-item
				//- 							i.color-green.fa.fa-cutlery.fa-lg
				//- 							span.hotels__block-description-name Кухня
				//- 						li.hotels__block-description-list-item
				//- 							i.color-green.fa.fa-glass.fa-lg
				//- 							span.hotels__block-description-name Лаунж-зона
				//- 						li.hotels__block-description-list-item
				//- 							i.color-green.fa.fa-clock-o.fa-lg
				//- 							span.hotels__block-description-name 24/7
				//- 						li.hotels__block-description-list-item
				//- 							i.color-green.fa.fa-bank.fa-lg
				//- 							span.hotels__block-description-name Центр МСК
				//- 			.hotels__block-name
				//- 				p.hotels__block-name-title Хостел Fusion
				//- 				.hotels__block-address
				//- 					i.fa.fa-map-marker
				//- 					| ул. Дубининская 67, корп. 1
				//- 				.hotels__block-address
				//- 					i.fa.fa-percent
				//- 					| Скидка 15% при заказе с сайта "Всепути"
				//- 			.hotels__block-footer
				//- 				.btn.btn-red
				//- 					i.fa.fa-info-circle
				//- 					|  Подробнее