//- .hotels#target-hotel
//- 	noindex
//- 		.container
//- 			h3.title Рекомендуемые гостиницы в Орле
//- 			.row
//- 				.col-sm-6.col-md-3
//- 					.hotels__block
//- 						a(href="http://www.orel-hotel.ru/ctandartnyij-nomer.html" rel="nofollow" target="_blank")
//- 							.hotels__block-img-wrap
//- 								img.hotels__block-img(src="/img/hotels/orel/strannik.jpg", alt="Гостиница «Очарованный странник»")
//- 								p.hotels__block-price
//- 									| от 
//- 									span 2 600
//- 										i.fa.fa-rub
//- 									|  за номер
//- 								.hotels__block-description
//- 									ul.hotels__block-description-list
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-wifi.fa-lg
//- 											span.hotels__block-description-name Wi-Fi
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-television.fa-lg
//- 											span.hotels__block-description-name ТВ
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-snowflake-o.fa-lg
//- 											span.hotels__block-description-name Хол-к
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-circle-o.fa-lg
//- 											span.hotels__block-description-name Бильярд
//- 							.hotels__block-name
//- 								p.hotels__block-name-title Гостиница «Очарованный странник»
//- 								.hotels__block-address
//- 									i.fa.fa-map-marker
//- 									| ул. М.Горького, д. 23
//- 							.hotels__block-footer
//- 								.btn.btn-red
//- 									i.fa.fa-info-circle
//- 									|  Подробнее
//- 				.col-sm-6.col-md-3
//- 					.hotels__block
//- 						a(href="http://www.atlantida-hotel.ru/rooms/11.html" rel="nofollow" target="_blank")
//- 							.hotels__block-img-wrap
//- 								img.hotels__block-img(src="/img/hotels/orel/atlantida.jpg", alt="Гостиница «Атлантида»")
//- 								p.hotels__block-price
//- 									| от 
//- 									span 2 600
//- 										i.fa.fa-rub
//- 									|  за номер
//- 								.hotels__block-description
//- 									ul.hotels__block-description-list
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-wifi.fa-lg
//- 											span.hotels__block-description-name Wi-Fi
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-bath.fa-lg
//- 											span.hotels__block-description-name Джакузи
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-car.fa-lg
//- 											span.hotels__block-description-name Парковка
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-shield.fa-lg
//- 											span.hotels__block-description-name Сейф
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-cutlery.fa-lg
//- 											span.hotels__block-description-name Завтрак
//- 							.hotels__block-name
//- 								p.hotels__block-name-title Гостиничный комплекс «Атлантида»
//- 								.hotels__block-address
//- 									i.fa.fa-map-marker
//- 									| ул. Фомина, 4
//- 							.hotels__block-footer
//- 								.btn.btn-red
//- 									i.fa.fa-info-circle
//- 									|  Подробнее
//- 				.col-sm-6.col-md-3
//- 					.hotels__block
//- 						a(href="http://orelhotel.ru/hotel_orel.php?id_tovar=11" rel="nofollow" target="_blank")
//- 							.hotels__block-img-wrap
//- 								img.hotels__block-img(src="/img/hotels/orel/orel.jpg", alt="Гостиница «Орел»")
//- 								p.hotels__block-price
//- 									| от 
//- 									span 1 800
//- 										i.fa.fa-rub
//- 									|  за номер
//- 								.hotels__block-description
//- 									ul.hotels__block-description-list
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-wifi.fa-lg
//- 											span.hotels__block-description-name Wi-Fi
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-television.fa-lg
//- 											span.hotels__block-description-name ТВ
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-coffee.fa-lg
//- 											span.hotels__block-description-name Кафе
//- 							.hotels__block-name
//- 								p.hotels__block-name-title Гостиничный комплекс «Орел-Отель»
//- 								.hotels__block-address
//- 									i.fa.fa-map-marker
//- 									| пл. Мира, 4
//- 							.hotels__block-footer
//- 								.btn.btn-red
//- 									i.fa.fa-info-circle
//- 									|  Подробнее
//- 				.col-sm-6.col-md-3
//- 					.hotels__block
//- 						a(href="http://dejavu-orel.ru/goods/305" rel="nofollow" target="_blank")
//- 							.hotels__block-img-wrap
//- 								img.hotels__block-img(src="/img/hotels/orel/dejavu.jpg", alt="Ресторан-гостиница ДежаВю")
//- 								p.hotels__block-price
//- 									| от 
//- 									span 2 790
//- 										i.fa.fa-rub
//- 									|  за номер
//- 								.hotels__block-description
//- 									ul.hotels__block-description-list
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-wifi.fa-lg
//- 											span.hotels__block-description-name Wi-Fi
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-television.fa-lg
//- 											span.hotels__block-description-name ТВ
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-car.fa-lg
//- 											span.hotels__block-description-name Парковка
//- 										li.hotels__block-description-list-item
//- 											i.color-green.fa.fa-shower.fa-lg
//- 											span.hotels__block-description-name Душ
//- 							.hotels__block-name
//- 								p.hotels__block-name-title Ресторан-гостиница "ДежаВю"
//- 								.hotels__block-address
//- 									i.fa.fa-map-marker
//- 									| ул. Московская, д 24а
//- 							.hotels__block-footer
//- 								.btn.btn-red
//- 									i.fa.fa-info-circle
//- 									|  Подробнее
//- 				