footer.footer
	.container
		.row
			.col-sm-4.hidden-xs
				p.footer__copyright &copy; 2016 Vseputi. Все права защищены
			.col-sm-3.col-md-2
				.footer__social
					span.footer__social-text Мы в соц.сетях:
					noindex
						a.footer__social-link(href="https://vk.com/vseputi_don" rel="nofollow")
							i.fa.fa-vk.fa-lg
						a.footer__social-link(href="http://ok.ru/vseputi" rel="nofollow")
							i.fa.fa-odnoklassniki.fa-lg
			.col-sm-2.col-md-3.col-lg-4.text-center
				a.footer__link(href="/partnership") Сотрудничество
			.col-sm-3.col-lg-2
				.footer__phone-block
					a.footer__phone(href="tel:+380954027977") +38 (095) 402-79-77
					a.footer__phone(href="tel:+79788061936") +7 (978) 806-19-36
			.col-xs-12.visible-xs 
				.text-center
					a.btn.header__btn(href="#callback" fancybox) Обратный звонок
include _script