head
	block head
		meta(name="format-detection" content="telephone=no")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="shortcut icon" type="images/vnd.microsoft.icon" href="/favicon.ico")
		link(href="/css/styles.css?ver.1.00004" rel="stylesheet" media="all")