header.header
	.container
		.row
			.col-sm-4.col-xs-6
				a.header__logo(href="/")
					img(src="/img/logo.png" alt="Site Logo")
			.col-sm-4.hidden-xs
				.text-center
					a.btn.header__btn(href="#callback" fancybox) Обратный звонок
			.col-sm-4.col-xs-6
				.text-right
					a.header__phone._headphones(href="tel:+380954027977") 
						span.header__phone-prefix +38 (095) 
						| 402 79 77
					br
					a.header__phone._viber(href="tel:+79788061936") 
						span.header__phone-prefix +7 (978) 
						| 806 19 36
					