//- Цены на прямые маршруты
- moskowPrice  = "1 500"
- voronejPrice = "1 000"
- pavlovskPrice = "1 500"
- tulaPrice = "1 500"
- kievPrice = "1 500"
- borispolPrice = "1 800"
- piryatinPrice = "1 300"
- lubniPrice = "1 200"
- poltavaPrice = "1 100"
- krasnogradPrice = "1 000"
- novomoskovskPrice = "900"
- pavlogradPrice = "800"
- krasnoarmeyskPrice = "350"
- selidovoPrice = "400"
- kurahovoPrice = "200"
- volnovahaPrice = "200"
- kharkovPrice = "550"
- konstantinovkaPrice = "450"
- kramatorskPrice = "450"
- slavyanskPrice = "450"
- izumPrice = "450"
- dobropolyePrice = "350"
- dimitrovoPrice = "450"
- dneprPrice = "500"
- mariupolPrice = "300"
- rostovPrice = "600"
- slavyanskNaKubaniPrice = "1 600"
- kerchPrice = "1 600"
- gorKerchPrice = "2 000"
- gorFeodosiyaPrice = "2 000"
- feodosiyaPrice = "1 600"
- simferopolPrice = "1 800"
- gorSimferopolPrice = "2 000"
- alushtaPrice = "1 900"
- gorAlushtaPrice = "2 000"
- gorRostovPrice = "600"
- yaltaPrice = "2 000"
- sevastopolPrice = "2 000"
- krasnodarPrice = "1 200"
- kievKrimPrice = "800"
- krimKievPrice = "2 300"
- belgorodPrice = "1 200"
- piterPrice = "3 400"
- bryanskPrice = "1 900"
- orelPrice = "2 000"
- kurskPrice = "1 800"


//-  Цена на обратные маршруты
- kievDonPrice = "1 800"
- piryatinDonPrice = "550"
- lubniDonPrice = "500"
- poltavaDonPrice = "450"
- krasnogradDonPrice = "400"
- novomoskovskDonPrice = "350"
- pavlogradDonPrice = "300"
- krasnoarmeyskDonPrice = "300"
- dnepropetrovskDonPrice = "500"
- mariupolDonPrice = "300"
- piterDonPrice = "3 500"
- kharkovDonPrice = "600"
- tulaDonPrice = "1 500"
- sevastopolDonPrice = "2 000"
- alushtaDonPrice = "2 000"
- belgorodDonPrice = "1 700"
- feodosiyaDonPrice = "1 800"
- yaltaDonPrice = "2 000"
- kerchDonPrice = "1 800"
- krasnodarDonPrice = "1 400"
- pavlovskDonPrice = "1 500"
- rostovDonPrice = "700"
- simferopolDonPrice = "2 000"
- slavyanskNaKubaniDonPrice = "1 600"
- slavyanskNaKubaniDonPrice = "1 600"
- alushtaGorPrice = "2 100"
- yaltaGorPrice = "2 100"
- feodosiyaGorPrice = "2 200"
- kerchGorPrice = "2 200"
- rostovGorPrice = "800"
- sevastopolGorPrice = "2 200"
- simferopolGorPrice = "2 200"
- slavyansknakubaniGorPrice = "1 700"
- borispolDonPrice = "2 400"
- dimitrovoDonPrice = "350"
- dobropolyeDonPrice = "350"
- izumDonPrice = "600"
- konstantinovkaDonPrice = "450"
- kramatorskDonPrice = "450"
- orelDonPrice = "2 200"
- kurskDonPrice = "2 200"
- moskowDonPrice = "2 000"