//- Цены на прямые маршруты
- moskowPrice  = "1 500"
- voronejPrice = "1 000"
- pavlovskPrice = "1 500"
- tulaPrice = "1 500"
- kievPrice = "1 500"
- borispolPrice = "1 800"
- piryatinPrice = "1 300"
- lubniPrice = "1 200"
- poltavaPrice = "1 100"
- krasnogradPrice = "1 000"
- novomoskovskPrice = "900"
- pavlogradPrice = "800"
- krasnoarmeyskPrice = "350"
- selidovoPrice = "400"
- kurahovoPrice = "200"
- volnovahaPrice = "200"
- kharkovPrice = "600"
- konstantinovkaPrice = "450"
- kramatorskPrice = "450"
- slavyanskPrice = "450"
- izumPrice = "450"
- dobropolyePrice = "350"
- dimitrovoPrice = "450"
- dneprPrice = "500"
- mariupolPrice = "300"
- rostovPrice = "600"
- slavyanskNaKubaniPrice = "1 600"
- kerchPrice = "1 800"
- gorKerchPrice = "2 100"
- gorFeodosiyaPrice = "2 100"
- feodosiyaPrice = "1 800"
- simferopolPrice = "2 000"
- gorSimferopolPrice = "2 100"
- gorSevastopolPrice = "2 200"
- alushtaPrice = "2 000"
- gorAlushtaPrice = "2 100"
- gorRostovPrice = "600"
- yaltaPrice = "2 000"
- gorYaltaPrice = "2 100"
- sevastopolPrice = "2 200"
- krasnodarPrice = "1 100"
- kievKrimPrice = "800"
- krimKievPrice = "2 300"
- belgorodPrice = "1 600"
- piterPrice = "3 400"
- bryanskPrice = "1 900"
- orelPrice = "2 000"
- kurskPrice = "1 800"
- anapaPrice = "1 600"
- zaporPrice = "450"
- adlerPrice = "2 500"
- artemPrice = "400"
- tuapsePrice = "2 000"
- gelendjikPrice = "2 000"
- sochiPrice = "2 300"