.popular
	.container
		h2.title 
			i.fa.fa-road
			| Все наши направления:
		.row
			.col-md-5.col-sm-6.margin-bottom-50
				h3.subtitle в Россию
				block Russia
					.toggle-block
						include ../modules/_russian-ways
				.text-center
					a.toggle-link(href="javascript:void(0);") Еще маршруты
			.col-md-5.col-md-offset-2.col-sm-6.margin-bottom-50
				h3.subtitle по Украине
				block Ukraine
					.toggle-block
						include ../modules/_ukrainian-ways
				.text-center
					a.toggle-link(href="javascript:void(0);") Еще маршруты