.share
	.container
		.row
			.col-sm-12.col-xs-12
				i.fa.fa-bullhorn.fa-2x
				span.share__text Рассказать друзьям:
				<div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google"></div>