extends _layout
block append head
	meta(description="Пассажирские перевозки из Донецка в города Украины и России. Расписание автобусов из Донецка. Заказ и бронирование билетов на автобус из Донецка онлайн")
	meta(keywords="пассажирские перевозки из Донецка в города России и Украины, автобус из Донецка в города России и Украины, цена билета на автобус из Донецка, билеты на автобус из Донецка, Расписание автобусов из Донецка")
	title Пассажирские перевозки из Донецка в города Украины и России. Расписание автобусов из Донецка. Купить билеты на автобус из Донецка
block content
	.main(style="background: none;")
		.container
			.row
				.col-sm-12.col-xs-12.text-center(style="font-size: 50px; padding: 70px 0;") 
					| Страница не существует или куда то от нас уехала :(
					<br>
					i.fa.fa-road
					<br>
					a.btn(href="/" style="font-size: 20px;") вернуться на главную