extends _layout
block append head
	meta(description="Страница не найдена - 404")
	meta(keywords="Страница не найдена - 404")
	title Страница не найдена - 404
block content
	.main(style="background: none;")
		.container
			.row
				.col-sm-12.col-xs-12.text-center(style="font-size: 50px;") 
					span(style="font-size: 90px; display:block;font-weight: bold;") 404
					| Страница не существует или куда то от нас уехала :(
					br
					i.fa.fa-road.fa-lg
					br
					a.btn(href="/" style="font-size: 20px;") вернуться на главную