extends _layout
block append head
	meta(description="Купить билеты на автобус онлайн, заказать автобусные билеты - Автобусные билеты по Украине, России, Белоруссии.")
	meta(keywords="Вопросы и ответы")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Вопросы и ответы")
	meta(property="og:description" content="Купить билеты на автобус онлайн, заказать автобусные билеты - Автобусные билеты по Украине, России, Белоруссии.")
	meta(property="og:url" content="https://vseputi.com.ua/")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/content/faq.png")
	title Вопросы и ответы
block content
	.main._faq-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Вопросы и ответы
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная")
								span(itemprop="title") Главная
						li.breadcrumbs__item
							span.breadcrumbs__link.current Вопросы и ответы
		.row
			.col-md-10.col-md-offset-1
				ul.service__faq-list
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-1") 
							i.fa.fa-chevron-circle-down.pull-right
							| Как мне узнать расписание автобусов ?
						.service__faq-list-answer#question-1
							p Для того, чтобы узнать расписание пои интересующему Вас маршруту Вам необходимо воспользоваться <a href="https://vseputi.com.ua/#search">поиском</a> на нашем сайте. Ввести город отправления и город прибытия. После чего перейти на страницу маршрута где в таблице будет указано расписание по выбранному Вами направлению
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-12") 
							i.fa.fa-chevron-circle-down.pull-right
							| Какие марки автобусов используются на маршрутах ?
						.service__faq-list-answer#question-12
							p Наши перевозчики используют такие марки автобусов как: Setra, Man, Neoplan, Mercedes-Benz, Van Hool, Yotung.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-13") 
							i.fa.fa-chevron-circle-down.pull-right
							| Мне нужно узнать есть ли свободные места на рейс. Как это сделать?
						.service__faq-list-answer#question-13
							p Информацию о наличии свободных мест на необходимый Вам маршрут вы можете получить у наших диспетчеров по телефонам: +38 (095) 874 49 92, +38 (071) 307 63 52, +38 (095) 402 79 77, +7 (978) 806 19 36, 8 804 333 05 93(бесплатный звонок для России). При обращении просьба указывать маршрут следования и время рейса.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-11") 
							i.fa.fa-chevron-circle-down.pull-right
							| Сколько стоит услуга бронирования билетов ?
						.service__faq-list-answer#question-11
							p Услуга бронирования билетов на нашем сайте абсолютна бесплатная.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-2") 
							i.fa.fa-chevron-circle-down.pull-right
							| Я хочу посмотреть расписание обратного маршрута. Где оно ?
						.service__faq-list-answer#question-2
							p Практически на каждой странице маршрута есть переход на обратный маршрут по клику на кнопку "Посмотреть обратный маршрут" внизу или вверху таблицы с расписанием.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-3") 
							i.fa.fa-chevron-circle-down.pull-right
							| Я хочу забронировать билет, но не пойму как это сделать ?
						.service__faq-list-answer#question-3
							p Забронировать билет очень просто. Это возможно несколькими способами:
							ol
								li На странице интересующего Вас маршрута в таблице расписания выбрать подходящее для Вас время и день отправления. Напротив этой информации нажать кнопку "Забронировать". Заполнить все поля в форме и отправить Ваши данные.
								li Воспользоваться консультацией онлайн-диспетчера. В ходе общения с диспетчером в режиме онлайн указать следуюещие данные: маршрут следования, ФИО, контактный номер телефона, дату и время отправления, желаемое количество мест для бронирования.
								li Забронировать места позвонив по одному из телефонов: +38 (095) 874 49 92, +38 (071) 307 63 52, +38 (095) 402 79 77, +7 (978) 806 19 36, 8 804 333 05 93(бесплатный звонок для России).
								li Отправить сообщение на email <a href="mailto:infovseputi@gmail.com">infovseputi@gmail.com</a> следующего содержания: маршрут следования, ФИО, контактный номер телефона, дата и время отправления, желаемое количество мест для бронирования.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-4") 
							i.fa.fa-chevron-circle-down.pull-right
							| При бронировании билета я допустил ошибку. Что делать ?
						.service__faq-list-answer#question-4
							p Если вы допутили ошибку в процессе заполнения формы бронирования, то Вам достаточно просто заново заполнить форму. В этом случае наша система сопоставит данные и выберет последний актуальный запрос бронирования.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-5") 
							i.fa.fa-chevron-circle-down.pull-right
							| Я уже забронировал билет, но у меня поменялись планы. Как быть ?
						.service__faq-list-answer#question-5
							p Если вы уже осуществили предварительное бронирование и у вас поменялись планы (хотите перенести поездку или отменить бронь), то в таком случае просим вас сообщить о вашем решении по одному из номеру телефоном: +38 (095) 874 49 92, +38 (071) 307 63 52, +38 (095) 402 79 77, +7 (978) 806 19 36, 8 804 333 05 93(бесплатный звонок для России) или по email <a href="mailto:infovseputi@gmail.com">infovseputi@gmail.com</a>. Вы также можете предоставить информацию нашему диспетчеру на сайте (онлайн).
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-6") 
							i.fa.fa-chevron-circle-down.pull-right
							| Как я узнаю адрес отправления ?
						.service__faq-list-answer#question-6
							p Адрес и время отправления указаны в расписании к кажому из маршрутов следования. В дополнении к этой информации при осуществлении дополнительных звонков-подтверждений наши диспетчера указывают место, время и номер автобуса.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-7") 
							i.fa.fa-chevron-circle-down.pull-right
							| Как мне быть если мой рейс отменили ?
						.service__faq-list-answer#question-7
							p Об отмене рейса диспетчера уведомляют заранее (если не имеет месту быть форс-мажорные обстоятельства). Также наши сотрудники предложат Вам альтернативные варианты маршрутов под Ваши требования с возможностью переноса поездки.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-8") 
							i.fa.fa-chevron-circle-down.pull-right
							| Есть ли у Вас скидки детям ?
						.service__faq-list-answer#question-8
							p Да. На большинство наших рейсов предусмотрены скидки для детей. О точном размере скидки на то или иное направление просьба уточнять у наших диспетчеров по телефонам: +38 (095) 874 49 92, +38 (071) 307 63 52, +38 (095) 402 79 77, +7 (978) 806 19 36, 8 804 333 05 93(бесплатный звонок для России) или по email <a href="mailto:infovseputi@gmail.com">infovseputi@gmail.com</a>.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-9") 
							i.fa.fa-chevron-circle-down.pull-right
							| Можно ли как то задержать автобус ? Я не успеваю.
						.service__faq-list-answer#question-9
							p Данный вопрос решается исключительно в индивидуальном порядке непосредственно с водителем автобуса.
					li.service__faq-list-item
						a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-10") 
							i.fa.fa-chevron-circle-down.pull-right
							| Мне нужно передать посылку. Как мне это сделать?
						.service__faq-list-answer#question-10
							p Для того, чтобы передать посылку Вам необходимо обратится к нам по одному из номеров телефонов: +38 (095) 874 49 92, +38 (071) 307 63 52, +38 (095) 402 79 77, +7 (978) 806 19 36, 8 804 333 05 93(бесплатный звонок для России). В ходе беседы с нашим сотрудником указать какого рода посылка и ее содержимое.<br><br>ВНИМАНИЕ!! Мы не передаем опасные грузы и посылки сомнительного содержания.
					//- li.service__faq-list-item
					//- 	a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-11") 
					//- 		i.fa.fa-chevron-circle-down.pull-right
					//- 		| Где я могу оставить отзыв о Ваших услугах ?
					//- 	.service__faq-list-answer#question-11
					//- 		p Желаете оставить отзыв о нашей работе или предоставляемых нами услугах ? Позвоните по одному из телефонов: +38 (095) 874 49 92, +38 (071) 307 63 52, +38 (095) 402 79 77, +7 (978) 806 19 36, 8 804 333 05 93(бесплатный звонок для России) или напишите нам на email <a href="mailto:infovseputi@gmail.com">infovseputi@gmail.com</a>. Также вы можете воспользоваться специальным разделом на нашем <a href="/feedback">сайте</a>, где и оставить ваш отзыв.
		br
		br
		br