extends _layout
block append head
	meta(description="Отзывы о работе диспетчерской службы Всепути")
	meta(keywords="отзывы Всепути, всепути отзывы, vseputi отзывы, оставить отзыв всепути")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Отзывы")
	meta(property="og:description" content="Отзывы о работе диспетчерской службы Всепути")
	meta(property="og:url" content="https://vseputi.com.ua/")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/content/feedback.jpg")
	title Отзывы
block content
	.main._feedback-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Отзывы
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная")
								span(itemprop="title") Главная
						li.breadcrumbs__item
							span.breadcrumbs__link.current Отзывы
		.row
			.col-sm-12
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  22.08.2017
						span.feedback__block-name Тимофеева Ирина
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Горловка - Москва
					.feedback__block-text Сегодня забронировала билеты по маршруту Горловка - Москва. Диспетчер Дарья, очень приветливая и внимательная, отвечала на все вопросы, и я осталась очень довольна. Надеюсь, что ПЕРЕВОЗЧИК также не подведёт и рейс будет приятным. Заранее благодарю. С уважением, Ирина Тимофеева
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  14.08.2017
						span.feedback__block-name Коленко
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Алушта - Донецк
					.feedback__block-text Ехали в Крым этим перевозчиком, остались довольны. Назад попросили девочек из отеля заказать места у этого же перевозчика. Бронировали 01.08.2017 по телефону, заказали места из Алушты на 14.08 на 14:00. Диспетчер перезвонил администратору отеля накануне, сказала "Автобус будет". По факту автобус нас просто не взял, сказал что нас нет в списках и мест нет. Стоим, ждем когда решат вопрос. Очень надеюсь что нас отправят домой.
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  07.08.2017
						span.feedback__block-name Гутник Наталья Геннадьевна
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Донецк - Ялта
					.feedback__block-text  Ехала в 12:00 с Южного. Диспетчеры вежливые, водители опытные. Быстро и с комфортом доехали. Большое спасибо компании vseputi за хорошую работу, обязательно буду обращаться.
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  04.08.2017
						span.feedback__block-name Вера Николаевна
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Донецк - Алушта
					.feedback__block-text Ехали вдвоем к внукам в Алушту. Бронировали за месяц билеты и очень переживали, что что-то пойдет не так. Благо наши опасения не подтвердились и за день до отправления с нами связался перевозчик и сказал нам номер автобуса и откуда будет отправление. Единственное часа 2 ждали на таможне - долго документы проверяли, но не страшно. Спасибо Вам и перевозчику в частности, будем обратно тоже ехать с Вами. Успехов Вам.
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  29.07.2017
						span.feedback__block-name Еремин Валерий
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Нижний Новгород - Донецк
					.feedback__block-text Ехал в нормальном, в принципе, ухоженом автобусе. Кондиционер работал было не жарко учитывая то, что за бортом было больше 30 градусов жары. Wifi не было, но это мне сказали заранее перед бронированием, так что я особо не расчитывал, что он там чуденым образом появится. Благодарю за доставку меня домой :)
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  27.07.2017
						span.feedback__block-name Марина
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Сочи - Донецк
					.feedback__block-text Когда бронировала, сказали прибытие на крытый, а оказалось на мотель. Единственный плюс водители по дороге завезли на южный. А вообще очень не довольны поездкой. Должны были выезжать в 17:00 с Сочи, нам сказали прийти в 16:30, водители приехали в 17:30, пока укомплектовались выехали почти в шесть. Потом по дороге водители решили поужинать минут так на сорок. А мы итак потеряли время в пробках. На подъезде к Краснодару водители поехали на знак и его оштрафовали, в салон залез ппс -ник требовал у всех документы, ну мы! молча предъявили, а второй водитель начал с ним ругаться, в итоге его попросили на пост. Водители ругались между собой. Потом на каждой заправке мы тормозили и по пол часа водила пытался в терминале оплатить штраф. На таможню заехали на российскую как автобус ( ехали в спринтере) а на днр стояли в огромной очереди 2,5 часа как легковые. При том что на рос таможне из -за штрафа не пропускали. Потом сами выходили в жару чтоб паспорта сдать по жаре еще и на солнце в очереди к будки стояли. Спринтером должны были добрался быстрее большого автобуса, часов за 14-15, в итоге 18 часов. Туда ехали другим переводчиком на большом автобусе за 15 часов
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  08.06.2017
						span.feedback__block-name Геннадий
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Симферополь - Торез
					.feedback__block-text Выехал из Симферополя 07.06.2017 в16.00.Огромное спасибо экипажу, настоящие профи.Чего не скажешь, когда в Москву.
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  18.05.2017
						span.feedback__block-name Насторогова Людмила
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Донецк - Киев
					.feedback__block-text Спасибо за отличную и удобную поездку. Добралась быстро, водитель приятный и отзывчивый. Ставлю за поездку Вам твёрдую пятёрку. Успехов Вам!
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  15.05.2017
						span.feedback__block-name Сергей
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Донецк - Ростов
					.feedback__block-text Все хорошо!!!! СПАСИБО.
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  13.05.2017
						span.feedback__block-name Евгений Кременев
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Москва - Донецк
					.feedback__block-text Нужно было срочно уехать из Москвы. Билет не заказывал заранее поэтому не думал, что удастся уехать автобусом и уже рассматривал вариант добиратся какими то попутками. Но спасибо девушкам диспетчерам, которые не оставили меня на произвол судьбы и быстро нашли мне место в автобусе и я уехал этим же днём. На счет самого автобуса хочу сказать, что не люкс категории конечно, но перемещатся приемлимо, учитывая мой рост - 1м 98см. Границу прошли без каких либо задержек, была правда незначительная очередь - простояли порядка часа. Ставлю 5 за отношение к пассажирам и удобство в транспорте (хотя за удобство это по большей части к перевозчику).
				.feedback__block
					img.feedback__block-img.img-circle(src="/img/content/no-photo.png", alt="FeedbackImg")
					.feedback__block-info
						span.feedback__block-date 
							i.fa.fa-calendar
							|  09.05.2017
						span.feedback__block-name Шеремейко Виталий
						span.feedback__block-route 
							i.fa.fa-road
							|  Маршрут: Донецк - Киев
					.feedback__block-text В принципе могу сказать, что поездка прошла хорошо. На удивление быстро проехали все блок-посты и до полудня уже мчали в сторону Киева. Ехали на белом мерседесе, водитель нормальный - адекватный, скорость не превышал и не лихачил. Так что могу порекомендовать этих ребят по рейсу Донецк - Киев (по другим маршрутам еще не знаю как у них дела обстоят). В общем - спасибо!!
		.row(style="margin-top: 30px;border-top: 1px solid #ddd;")
			.col-sm-12
				p.form__label Будем признательны за вашу обратную связь. Пожалуйста, оставьте свой отзыв заполнив форму ниже.
			.col-sm-10.col-md-7
				form.form__form(action="#")
					.row
						.col-sm-6
							.form__control
								i.fa.fa-user
								input.form__input(type="text" required name="name" placeholder="Ваше ФИО")
						.col-sm-6
							.form__control
								i.fa.fa-road
								input.form__input(type="text" required name="route" placeholder="Ваш маршрут следования")
						.col-sm-12
							.form__control
								i.fa.fa-envelope-o
								input.form__input(type="email" required name="email" placeholder="Ваш email")
					//- .row
					//- 	.col-sm-12
					//- 		.form__control
					//- 			label.form__label 
					//- 				i.fa.fa-picture-o
					//- 				|  Ваше фото (необязательно):
					//- 		.form__control
					//- 			input(type="file" name="files")
					.row
						.col-sm-12
							.form__control
								textarea.form__textarea(rows="3" name="message" placeholder="Напишите ваш отзыв" required)
					.form__control
						button.form__submit.form__feedback.btn(type="submit") Отправить отзыв &nbsp;
							i.fa.fa-paper-plane-o 
		br
		br
		br
	.modal#feedback-confirm
		.modal__title <i class="fa fa-thumbs-up fa-4x color-green"></i><br>Ваш отзыв отправлен на модерацию.<br><div>Он будет опубликован после подтверждения.</div>