extends _layout
block append head
	meta(name="description" content="Пассажирские перевозки из Донецка в города Украины и России. Расписание автобусов из Донецка. Заказ и бронирование билетов на автобус из Донецка онлайн")
	meta(name="keywords" content="пассажирские перевозки из Донецка в города России и Украины, автобус из Донецка в города России и Украины, цена билета на автобус из Донецка, билеты на автобус из Донецка, Расписание автобусов из Донецка")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:description" content="Пассажирские перевозки из Донецка в города Украины и России. Расписание автобусов из Донецка. Заказ и бронирование билетов на автобус из Донецка онлайн")
	meta(property="og:url" content="https://vseputi.com.ua/")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/logo-shared.jpg")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@vseputi")
	meta(name="twitter:title" content="Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(name="twitter:description" content="Пассажирские перевозки из Донецка в города Украины и России. Расписание автобусов из Донецка. Заказ и бронирование билетов на автобус из Донецка онлайн.")
	meta(name="twitter:image:src" content="https://vseputi.com.ua/img/logo-shared.jpg")
	title Купить билет на автобус онлайн, заказать автобусный билет.
	- var index = true;
block content
	.main._index-bg#search
		.container
			.row
				.col-sm-12.col-xs-12
					h2.main__title Билет на автобус по Украине, России и Белоруссии.
			.row
				.col-sm-12.col-xs-12
					.main__form
						.form__block
							form(action="javascript:void(0);")
								.row
									.col-md-5.col-sm-4
										.form__control
											i.fa.fa-lg.fa-map
											input.form__input(type="text" required placeholder="Откуда" cityFrom)
									.col-md-5.col-sm-4
										.form__control
											i.fa.fa-lg.fa-map-o
											input.form__input(type="text" required placeholder="Куда" cityTo)
									.col-md-2.col-sm-4
										button.form__submit.btn.form__submit-search.search.btn-red(type="submit") 
											i.fa.fa-search
											|  Найти
						.form__result
	include includes/index/_ways
	include includes/index/_advantages
	include includes/index/_popular-ways
	//- .description
		.container
			.toggle-block__text
				h1.description__title Пассажирские перевозки Донецк - Россия : Россия - Донецк
				p.description__text На сегодняшний день пассажирские перевозки из Донецка в Россию стали весьма популярны. Компания «VSEPUTI» предоставляет регулярные, пассажирские перевозки из Донецка в города России. Наша транспортная компания охватывает наиболее популярные маршруты автобусных пассажирских перевозок из Донецка (Горловки, Енакиево, Макеевки, Харцызска, Шахтерска, Зугреса), такие как: Донецк-Москва, Донецк-Севастополь, Донецк-Ростов, Донецк-Тула и другие. С помощью нашей транспортной компании вы также можете забронировать билеты на обратный маршрут из России в Донецк на необходимую вам дату и удобное для вас время. Компания «VSEPUTI» сотрудничает только с проверенными и надежными перевозчиками, которые заботятся о вашем комфорте и безопасности, что подтверждает наличие международной лицензии  на пассажирские перевозки. Автобусы из Донецка в города России следуют по четко установленному расписанию и графику отправления, которое указанно на нашем сайте. Помимо основной точки отправления Донецк, посадка на различные рейсы осуществляется в таких городах: Горловка, Енакиево, Макеевка, Харцызск,  Шахтерск, Зугрес. Цену билета на автобус из Донецка в Россию вы можете найти на сайте или уточнить у менеджеров по указанным телефонам. Все волнующие вас вопросы вы так же можете уточнить у представителей нашей транспортной компании.
				h2.description__title Пассажирские междугородние перевозки Донецк - Украина : Украина-Донецк
				p.description__text Транспортная компания «VSEPUTI» осуществляет пассажирские автобусные перевозки в города Украины. В связи с непростой ситуацией на востоке страны, автобус Донецк-Украина пересекает блок посты, поэтому заказывая билеты на автобус из Донецка в любой город Украины, вы должны иметь электронный пропуск, позволяющий вам пересекать границу между сторонами соприкосновения. Расписание автобусов Донецк-Украина насчитывает несколько маршрутов по каждому направлению как с пересадкой на блок посту, так и без нее, следуя из Донецка до конечного пункта назначения без пересадки в другой автобус. От этого будет меняться цена билета на автобус Донецк-Украина. Каждый маршрут автобуса Донецк-Украина составлен по наиболее безопасному пути, однако в связи с различными ситуациями на блок постах однозначно ответить на вопрос о времени в пути дать сложно, но вы можете быть уверенны, что водители доставят вас до пункта назначения в наиболее кротчайшее время. Купить билет на автобус Донецк-Украина вы можете заблаговременно, заказав билет по указанным на сайте телефонам или воспользовавшись услугой «Обратный звонок», оплата билета осуществляется непосредственно во время посадки водителю автобуса. Так же вы можете заблаговременно забронировать билет на обратный маршрут из Украины в Донецк на любую нужную вам дату и время.
				h2.description__title Заказ и бронирование билетов на автобус Донецк - Россия : Донецк-Украина (онлайн)
				p.description__text Преимуществом компании «VSEPUTI» является гарантированное бронирование билетов на автобус из Донецка в любом направление в режиме онлайн, для этого вы можете оставить заявку на нашем сайте, указав необходимые данные, после чего с вами свяжутся наши менеджеры. Так же купить билеты на автобус из Донецка (Горловки, Енакиево, Макеевки, Харцызска, Шахтерска, Зугреса), можно позвонив по размещенным на сайте номерам телефонов или воспользовавшись услугой «Обратный звонок». Так вы обеспечите себя стопроцентной гарантией отъезда в запланированный день и час, более того вам не придётся выстаивать длинные очереди в кассах что бы купить билеты на автобус из Донецка. Оплата заказанных предварительно билетов на автобус Донецк-Россия осуществляется непосредственно во время посадки в автобус, водителю. Наши высококвалифицированные менеджеры в телефонном режиме смогут ответить на все волнующие вас вопросы, более того вы можете рассчитывать на быструю координацию действий в непредвиденных ситуациях. Покупая билеты на автобус из Донецка, вы можете быть уверенны, что с комфортом доберетесь до места назначения.
			