footer.footer(itemscope itemtype="https://schema.org/Organization")
	.container
		.row
			.col-sm-4.col-md-3.xs-text-center
				p.footer__copyright <i class="fa fa-copyright"></i> 2017 Все права защищены.
				p.footer__micro.dib
					span(itemprop="name") Диспетчерская служба "VSEPUTI"
					| , 
				p.footer__micro.dib(itemprop="address" itemscope itemtype="https://schema.org/PostalAddress")
					span(itemprop="addressLocality") г. Донецк
				p.footer__micro
					i.fa.fa-clock-o 
					|  Режим работы: с 09.00 до 21.00
				a.footer__email(href="mailto:infovseputi@gmail.com") 
					i.fa.fa-envelope-o &nbsp;
					span(itemprop="email") infovseputi@gmail.com
			.col-sm-5.col-md-3
				.footer__social
					//- span.footer__social-text Мы в соц.сетях:
					noindex
						a.footer__social-link(href="https://vk.com/vseputi_don" rel="nofollow noopener noreferrer" target="_blank")
							i.fa.fa-vk.fa-lg
						a.footer__social-link(href="https://ok.ru/vseputi" rel="nofollow noopener noreferrer" target="_blank")
							i.fa.fa-odnoklassniki.fa-lg
						a.footer__social-link(href="https://www.facebook.com/infovseputi/" rel="nofollow noopener noreferrer" target="_blank")
							i.fa.fa-facebook.fa-lg
						a.footer__social-link(href="https://twitter.com/vseputi" rel="nofollow noopener noreferrer" target="_blank")
							i.fa.fa-twitter.fa-lg
						a.footer__social-link(href="https://www.instagram.com/vseputi/" rel="nofollow noopener noreferrer" target="_blank")
							i.fa.fa-instagram.fa-lg
						a.footer__social-link(href="https://plus.google.com/u/2/104823581810742933349" rel="nofollow noopener noreferrer" target="_blank")
							i.fa.fa-google-plus.fa-lg
				.footer__pay-block
					span.footer__note Мы принимаем:
					i.fa.fa-cc-visa.fa-2x
					i.fa.fa-cc-mastercard.fa-2x
					//- img.footer__pay-img(src="/img/yd.svg", alt="yandex")
			.col-sm-2.col-md-3.col-lg-4.text-center.hidden-sm
				.footer__link-block
					div
						i.fa.fa-question-circle &nbsp;&nbsp;
						a.footer__link(href="/faq") Вопросы и ответы
					div
						i.fa.fa-comments-o &nbsp;&nbsp;
						a.footer__link(href="/feedback") Отзывы
			.col-sm-3.col-lg-2
				.footer__phone-block
					a.footer__phone(href="tel:88043330593") 
						span(itemprop="telephone") 8 804 333 05 93
					a.footer__phone(href="tel:+380954027977") 
						span(itemprop="telephone") +38 (095) 402-79-77
					a.footer__phone(href="tel:+380958744992") 
						span(itemprop="telephone") +38 (095) 874-49-92
					a.footer__phone(href="tel:+380713076352") 
						span(itemprop="telephone") +38 (071) 307-63-52
					//- a.footer__phone(href="tel:+380732237833") 
					//- 	span(itemprop="telephone") +38 (073) 223-78-33
					a.footer__phone(href="tel:+79788061936") 
						span(itemprop="telephone") +7 (978) 806-19-36