footer.footer(itemscope itemtype="http://schema.org/Organization")
	.container
		.row
			.col-sm-4.col-md-3.xs-text-center
				p.footer__copyright <i class="fa fa-copyright"></i> 2016 Все права защищены.
				p.footer__micro
					span(itemprop="name") Диспетчерская служба "VSEPUTI"
				p.footer__micro.dib(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
					span(itemprop="addressLocality") г. Донецк
				br.hidden-xs
				a.footer__email(href="mailto:infovseputi@gmail.com") 
					i.fa.fa-envelope-o &nbsp;
					span(itemprop="email") infovseputi@gmail.com
			.col-sm-5.col-md-3
				.footer__social
					span.footer__social-text Мы в соц.сетях:
					noindex
						a.footer__social-link(href="https://vk.com/vseputi_don" rel="nofollow" target="_blank")
							i.fa.fa-vk.fa-2x
						a.footer__social-link(href="http://ok.ru/vseputi" rel="nofollow" target="_blank")
							i.fa.fa-odnoklassniki.fa-2x
						a.footer__social-link(href="https://www.instagram.com/vseputi/" rel="nofollow" target="_blank")
							i.fa.fa-instagram.fa-2x
			.col-sm-2.col-md-3.col-lg-4.text-center.hidden-sm
				//- a.btn.header__btn(href="#callback" fancybox) Обратный звонок
				span.footer__social-text Мы принимаем:
				.footer__pay-block
					i.fa.fa-cc-visa.fa-2x
					i.fa.fa-cc-mastercard.fa-2x
					img.footer__pay-img(src="/img/yd.svg", alt="yandex")
			.col-sm-3.col-lg-2
				.footer__phone-block
					a.footer__phone(href="tel:+380954027977") 
						span(itemprop="telephone") +38 (095) 402-79-77
					a.footer__phone(href="tel:+380958744992") 
						span(itemprop="telephone") +38 (095) 874-49-92
					a.footer__phone(href="tel:+380732237833") 
						span(itemprop="telephone") +38 (073) 223-78-33
					a.footer__phone(href="tel:+79788061936") 
						span(itemprop="telephone") +7 (978) 806-19-36
include _script