footer.footer(itemscope itemtype="http://schema.org/Organization")
	.container
		.row
			.col-sm-4
				p.footer__copyright &copy; 2016 Все права защищены.
				p.footer__micro
					span(itemprop="name") Диспетчерская служба "VSEPUTI"
				p.footer__micro.dib(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
					span(itemprop="addressLocality") г. Донецк
			.col-sm-3.col-md-2
				.footer__social
					span.footer__social-text Мы в соц.сетях:
					noindex
						a.footer__social-link(href="https://vk.com/vseputi_don" rel="nofollow" target="_blank")
							i.fa.fa-vk.fa-lg
						a.footer__social-link(href="http://ok.ru/vseputi" rel="nofollow" target="_blank")
							i.fa.fa-odnoklassniki.fa-lg
						a.footer__social-link(href="https://www.instagram.com/vseputi/" rel="nofollow" target="_blank")
							i.fa.fa-instagram.fa-lg
			.col-sm-2.col-md-3.col-lg-4.text-center
				a.footer__link(href="/partnership") Сотрудничество
			.col-sm-3.col-lg-2
				.footer__phone-block
					a.footer__phone(href="tel:+380954027977") 
						span(itemprop="telephone") +38 (095) 402-79-77
					a.footer__phone(href="tel:+79788061936") 
						span(itemprop="telephone") +7 (978) 806-19-36
			.col-xs-12.visible-xs
				.text-center
					a.btn.header__btn(href="#callback" fancybox) Обратный звонок
include _script