//- include ../includes/modules/_newyear
.header__hotline.text-center
	i.fa.fa-fire
	span.header__hotline-text Горячая линия по России:
	a.header__hotline-number(href="tel:88043330593") 8 804 333 05 93
	span.header__hotline-text 
		small (звонок бесплатный)
header.header
	.container
		.row
			.col-sm-4.col-md-3.col-xs-12.m-b-xs-15.xs-text-center
				- if (index == true) {
					img(src="/img/logo.png" alt="Диспетчерская служба 'Всепути'")
				- } else {
					a.header__logo(href="/" title="Диспетчерская служба 'Всепути'")
						img(src="/img/logo.png" alt="Диспетчерская служба 'Всепути'")
				- }
			.col-md-3.hidden-xs.hidden-sm
				.text-center
					a.btn.header__btn(href="/#search" rel="nofollow")
						i.fa.fa-search
						|  Поиск рейса
					.header__time
						i.fa.fa-clock-o.color-green
						|  Режим работы: с 9 <sup>00</sup> до 21 <sup>00</sup>
			.col-sm-4.col-md-3.col-xs-6
				.text-right
					a.header__phone._viber(href="tel:+380958744992") 
						span.header__phone-prefix +38 (095) 
						| 874 49 92
					br
					a.header__phone._headphones(href="tel:‎+380713076352") 
						span.header__phone-prefix +38 (071) 
						| 307 63 52
					//- a.header__phone._headphones(href="tel:+380732237833") 
					//- 	span.header__phone-prefix +38 (073) 
					//- 	| 223 78 33
			.col-sm-4.col-md-3.col-xs-6
				.text-right.xs-text-center
					a.header__phone._viber(href="tel:+380954027977") 
						span.header__phone-prefix +38 (095) 
						| 402 79 77
					br
					a.header__phone._headphones(href="tel:+79788061936") 
						span.header__phone-prefix +7 (978) 
						| 806 19 36
	.main-menu
		.container
			.row
				.col-sm-12
					button.main-menu__mob-btn.visible-xs(type="button")
					ul.main-menu__list
						li.main-menu__item
							a.main-menu__link(href="/intercity/") Междугородние рейсы
						li.main-menu__item
							a.main-menu__link(href="/international/") Международные рейсы
						li.main-menu__item
							a.main-menu__link(href="/crimea/") 
								i.fa.fa-certificate 
								| Крым
						li.main-menu__item
							a.main-menu__link(href="/partnership") 
								i.fa.fa-handshake-o 
								| Сотрудничество
						li.main-menu__item
							a.main-menu__link.new(href="/services/") 
								i.fa.fa-tags  
								| Наши услуги
								//- img.main-menu__link-sticker(src="/img/new.svg", alt="new badge")