header.header
	.container
		.row
			.col-sm-4.col-xs-6
				- if (index == true) {
					img(src="/img/logo.png" alt="Vseputi - Пассажирские перевозки из Донецка в города Украины и России.")
				- } else {
					a.header__logo(href="/" title="Vseputi - Пассажирские перевозки из Донецка в города Украины и России.")
						img(src="/img/logo.png" alt="Vseputi - Пассажирские перевозки из Донецка в города Украины и России.")
				- }
			.col-sm-4.hidden-xs
				.text-center
					a.btn.header__btn(href="#callback" fancybox) Обратный звонок
			.col-sm-4.col-xs-6
				.text-right
					a.header__phone._viber(href="tel:+380954027977") 
						span.header__phone-prefix +38 (095) 
						| 402 79 77
					br
					a.header__phone._headphones(href="tel:+79788061936") 
						span.header__phone-prefix +7 (978) 
						| 806 19 36
	.main-menu
		.container
			.row
				.col-sm-12
					button.main-menu__mob-btn.visible-xs(type="button")
					ul.main-menu__list
						li.main-menu__item
							a.main-menu__link(href="/intercity/") Междугородние рейсы
						li.main-menu__item
							a.main-menu__link(href="/international/") Международные рейсы
						li.main-menu__item
							a.main-menu__link(href="/partnership") Сотрудничество
						li.main-menu__item
							noindex
								a.main-menu__link.new(href="http://apycomm.com/click/57da4a438b30a83f588b456f/113144/143897/subaccount" rel="nofollow" target="_blank") 
									i.fa.fa-plane 
									| Бронь авиабилетов
									img.main-menu__link-sticker(src="/img/new.svg", alt="new badge")