//- Цены на прямые маршруты
- moskowPrice  = "1 500"
- voronejPrice = "1 000"
- pavlovskPrice = "1 500"
- tulaPrice = "1 500"
- kievPrice = "1 500"
- borispolPrice = "1 500"
- piryatinPrice = "1 300"
- lubniPrice = "1 200"
- poltavaPrice = "1 100"
- krasnogradPrice = "1 000"
- novomoskovskPrice = "900"
- pavlogradPrice = "800"
- krasnoarmeyskPrice = "350"
- selidovoPrice = "400"
- kurahovoPrice = "200"
- volnovahaPrice = "200"
- kharkovPrice = "650"
- konstantinovkaPrice = "500"
- kramatorskPrice = "500"
- slavyanskPrice = "500"
- izumPrice = "650"
- dobropolyePrice = "350"
- dimitrovoPrice = "350"
- dneprPrice = "550"
- mariupolPrice = "350"
- rostovPrice = "600"
- slavyanskNaKubaniPrice = "1 600"
- kerchPrice = "1 800"
- gorKerchPrice = "2 100"
- gorFeodosiyaPrice = "2 100"
- feodosiyaPrice = "1 800"
- simferopolPrice = "1 800"
- gorSimferopolPrice = "2 100"
- gorSevastopolPrice = "2 200"
- alushtaPrice = "2 000"
- gorAlushtaPrice = "2 100"
- gorRostovPrice = "600"
- yaltaPrice = "1 800"
- gorYaltaPrice = "2 100"
- sevastopolPrice = "2 000"
- krasnodarPrice = "1 200"
- kievKrimPrice = "800"
- krimKievPrice = "2 300"
- belgorodPrice = "1 400"
- piterPrice = "3 400"
- bryanskPrice = "1 900"
- orelPrice = "1 700"
- kurskPrice = "1 800"
- anapaPrice = "1 600"
- zaporPrice = "450"
- adlerPrice = "2 500"
- artemPrice = "450"
- tuapsePrice = "2 000"
- gelendjikPrice = "2 000"
- sochiPrice = "2 300"
- livniPrice = "1 800"
- kislovodskPrice = "2 000"
- stavropolPrice = "1 800"
- volgogradPrice = "1 600"
- gorlovkaMskPrice = "1 800"
- taganrogPrice = "550"
- nnPrice = "3 500"
- vnPrice = "3 200"
- erevanPrice = "3 500"
- tbilisiPrice = "3 500"
- saratovPrice = "2 800"
- tolPrice = "3 500"
- samaraPrice = "3 500"
- zapPrice = "500"
- odessaPrice = "800"
- elecPrice = "1 800"
- lipeckPrice = "1 700"
- tverPrice = "3 000"
- berdPrice = "750"

- lugSev = "2 300"
- lugSimf = "2 300"
- lugYalta = "2 300"
- lugFeodisya = "2 300"
- lugAlushta = "2 300"
- lugKerch = "2 300"

//-  цены с Украины в Россию
- kievMskPrice = "500"
- kievKrasnodar = "1 300"
- kievRostov = "950"
- kievDjubga = "1 550"
- kievTuapse = "1 550"
- kievLazar = "1 650"
- kievSochi = "1 650"

- kharkovKrasnodar = "950"
- kharkovRostov = "800"
- kharkovDjubga = "1 250"
- kharkovTuapse = "1 250"
- kharkovLazar = "1 300"
- kharkovSochi = "1 300"
- kharkovBelgorod = "400"
- kharkovKursk = "400"
- kharkovOrel = "400"
- kharkovTula = "450"
- kharkovMsk = "500"
- kharkovPiter = "1 000"

- artBelgorod = "500"
- artKursk = "500"
- artOrel = "500"
- artTula = "500"
- artMsk = "500"
- artPiter = "1 100"

- slavBelgorod = "400"
- slavKursk = "400"
- slavOrel = "400"
- slavTula = "450"
- slavMsk = "500"
- slavPiter = "1 000"

- kramBelgorod = "600"
- kramKursk = "600"
- kramOrel = "600"
- kramTula = "600"
- kramMsk = "600"
- kramPiter = "1 100"

- konstBelgorod = "500"
- konstKursk = "500"
- konstOrel = "500"
- konstTula = "500"
- konstMsk = "500"
- konstPiter = "1 000"

//-  В Белоруссию
- minskPrice = "4 500"
- mogPrice = "4 200"
- gomPrice = "3 700"