//-  Цена на обратные маршруты
- kievDonPrice = "550"
- piryatinDonPrice = "550"
- lubniDonPrice = "500"
- poltavaDonPrice = "450"
- krasnogradDonPrice = "400"
- novomoskovskDonPrice = "350"
- pavlogradDonPrice = "300"
- krasnoarmeyskDonPrice = "350"
- dnepropetrovskDonPrice = "550"
- mariupolDonPrice = "400"
- piterDonPrice = "3 500"
- kharkovDonPrice = "650"
- tulaDonPrice = "1 700"
- belgorodDonPrice = "1 700"
- krasnodarDonPrice = "1 300"
- pavlovskDonPrice = "1 500"
- rostovDonPrice = "600"
- slavyanskNaKubaniDonPrice = "1 600"
- rostovGorPrice = "800"
- slavyansknakubaniGorPrice = "1 700"
- borispolDonPrice = "550"
- dimitrovoDonPrice = "350"
- dobropolyeDonPrice = "350"
- izumDonPrice = "700"
- konstantinovkaDonPrice = "550"
- slavyanskDonPrice = "600"
- kramatorskDonPrice = "600"
- orelDonPrice = "1 700"
- kurskDonPrice = "2 000"
- moskowDonPrice = "2 000"
- adlerDonPrice = "2 400"
- artemDonPrice = "450"
- tuapseDonPrice = "2 000"
- gelendjikDonPrice = "2 000"
- sochiDonPrice = "2 000"
- bryanskDonPrice = "2 000"
- kislovodskDonPrice = "2 500"
- stavropolDonPrice = "2 000"
- mskKievPrice = "1 400"
- mskGorlovkaPrice = "2 500"
- nnDonPrice = "3 500"
- vnDonPrice = "3 400"
- erevanDonPrice = "3 500"
- tbilisiDonPrice = "3 500"
- voronejDon = "1 400"
- saratovDonPrice = "2 500"
- kazanDonPrice = "3 800"
- tolDonPrice = "3 500"
- samaraDonPrice = "3 300"
- zapDonPrice = "500"
- odessaDonPrice = "800"
- livniDonPrice = "1 600"
- elecDonPrice = "1 600"
- lipeckDonPrice = "2 100"
- tverDonPrice = "3 000"
- berdDonPrice = "350"
- kurahovoDonPrice = "350"
- selidovoDonPrice = "350"
- evpatDnepr = "2 000"
- sevastopolDnepr = "2 000"
- simferopolDnepr = "1 800"
- stOskolDon = "2 000"
- donHerson = "950"
- anapaDonPrice = "1 800"


//-  Крым Донецк
- sevastopolDonPrice = "1 800"
- alushtaDonPrice = "1 800"
- feodosiyaDonPrice = "1 800"
- yaltaDonPrice = "1 800"
- kerchDonPrice = "1 800"
- simferopolDonPrice = "1 800"

//-  Крым Горловка
- alushtaGorPrice = "2 200"
- yaltaGorPrice = "2 200"
- feodosiyaGorPrice = "2 200"
- kerchGorPrice = "2 200"
- sevastopolGorPrice = "2 200"
- simferopolGorPrice = "2 200"

//- Луганск
- sevLug = "2 000"
- simfLug = "2 000"
- yaltaLug = "2 000"
- feodisyaLug = "2 000"
- alushtaLug = "2 000"
- kerchLug = "2 000"
- orelLug = "1 500"
- bryanskLug = "1 800"
- gomelLug = "3 400"
- minskLug = "4 000"
- piterLug = "3 400"
- mskLug = "2 170"
- tulaLug = "2 000"
- belgorodLug = "1 000"
- kurskLug = "1 300"
- rostovLug = "600"
- krasnodarLug = "1 100"
- sochiLug = "2 000"
- adlerLug = "2 200"
- suhumLug = "2 500"
- kharkovLug = "600"
- dneprLug = "750"
- zapLug = "850"
- hersonLug = "950"
- odessaLug = "1 100"
- voronejLug = "1 300"
- elecLug = "2 000"
- kalugaLug = "2 500"
- lipeckLug = "1 500"

//-  с России в Украину
- sochiKiev = "4 200"
- lazarKiev = "4 200"
- tuapseKiev = "4 000"
- djubgaKiev = "4 000"
- krasnodarKiev = "3 500"
- rostovKiev = "2 500"
- sochiKharkov = "3 500"
- lazarKharkov = "3 500"
- tuapseKharkov = "3 400"
- djubgaKharkov = "3 400"
- krasnodarKharkov = "2 500"
- rostovKharkov = "2 100"
- djankoyKiev = "2 000"
- simfKiev = "2 000"
- sevasKiev = "1 500"
- evpatKiev = "2 000"
- feodKiev = "2 000"
- kerchKiev = "2 000"
- yaltaKiev = "2 000"
- alushtaKiev = "2 000"

- belgorodKharkov = "1 500"
- kurskKharkov = "2 000"
- orelKharkov = "2 000"
- tulaKharkov = "2 000"
- mskKharkov = "550"
- piterKharkov = "3 500"

- belgorodArt = "1 500"
- kurskArt = "2 000"
- orelArt = "2 000"
- tulaArt = "2 000"
- mskArt = "2 000"

- belgorodSlav = "1 500"
- kurskSlav = "2 000"
- orelSlav = "2 000"
- tulaSlav = "2 000"
- mskSlav = "2 000"

- belgorodKram = "1 500"
- kurskKram = "1 500"
- orelKram = "1 500"
- tulaKram = "2 000"
- mskKram = "2 000"

- belgorodKonst = "1 500"
- kurskKonst = "1 500"
- orelKonst = "1 500"
- tulaKonst = "2 000"
- mskKonst = "2 000"


//-  Из Белоруссии
- minskDonPrice = "4 000"
- mogDonPrice = "3 700"
- gomDonPrice = "3 300"


//- Из Польши
- lublinKharkov = "910"
- varshavaKharkov = "1050"
- shecinKharkov = "1400"
- gdanskKharkov = "1400"
- gdinyaKharkov = "1400"
- lublinKiev = "700"
- varshavaKiev = "840"
- shecinKiev = "1260"
- gdanskKiev = "1260"
- gdinyaKiev = "1260"