//-  Цена на обратные маршруты
- kievDonPrice = "550"
- piryatinDonPrice = "550"
- lubniDonPrice = "500"
- poltavaDonPrice = "450"
- krasnogradDonPrice = "400"
- novomoskovskDonPrice = "350"
- pavlogradDonPrice = "300"
- krasnoarmeyskDonPrice = "300"
- dnepropetrovskDonPrice = "500"
- mariupolDonPrice = "300"
- piterDonPrice = "3 500"
- kharkovDonPrice = "600"
- tulaDonPrice = "1 500"
- sevastopolDonPrice = "2 200"
- alushtaDonPrice = "2 000"
- belgorodDonPrice = "1 700"
- feodosiyaDonPrice = "1 800"
- yaltaDonPrice = "2 000"
- kerchDonPrice = "1 800"
- krasnodarDonPrice = "1 300"
- pavlovskDonPrice = "1 500"
- rostovDonPrice = "600"
- simferopolDonPrice = "2 000"
- slavyanskNaKubaniDonPrice = "1 600"
- slavyanskNaKubaniDonPrice = "1 600"
- alushtaGorPrice = "2 100"
- yaltaGorPrice = "2 100"
- feodosiyaGorPrice = "2 200"
- kerchGorPrice = "2 200"
- rostovGorPrice = "800"
- sevastopolGorPrice = "2 200"
- simferopolGorPrice = "2 200"
- slavyansknakubaniGorPrice = "1 700"
- borispolDonPrice = "2 400"
- dimitrovoDonPrice = "350"
- dobropolyeDonPrice = "350"
- izumDonPrice = "600"
- konstantinovkaDonPrice = "450"
- slavyanskDonPrice = "450"
- kramatorskDonPrice = "450"
- orelDonPrice = "2 200"
- kurskDonPrice = "2 200"
- moskowDonPrice = "2 000"
- adlerDonPrice = "2 500"
- artemDonPrice = "400"
- tuapseDonPrice = "2 000"
- gelendjikDonPrice = "2 000"
- sochiDonPrice = "2 300"
- bryanskDonPrice = "2 200"
- kislovodskDonPrice = "2 000"
- stavropolDonPrice = "1 800"
- mskKievPrice = "1 500"
- mskGorlovkaPrice = "2 500"
- nnDonPrice = "3 500"
- vnDonPrice = "3 400"

//-  с России в Украину
- sochiKiev = "4 200"
- lazarKiev = "4 200"
- tuapseKiev = "4 000"
- djubgaKiev = "4 000"
- krasnodarKiev = "3 500"
- rostovKiev = "2 500"
- sochiKharkov = "3 500"
- lazarKharkov = "3 500"
- tuapseKharkov = "3 400"
- djubgaKharkov = "3 400"
- krasnodarKharkov = "2 500"
- rostovKharkov = "2 100"