//- Цены на прямые маршруты
- moskowPrice  = "1 400"
- voronejPrice = "1 000"
- pavlovskPrice = "1 500"
- tulaPrice = "1 500"
- kievPrice = "1 500"
- borispolPrice = "1 500"
- piryatinPrice = "1 300"
- lubniPrice = "1 200"
- poltavaPrice = "1 100"
- krasnogradPrice = "1 000"
- novomoskovskPrice = "900"
- pavlogradPrice = "800"
- krasnoarmeyskPrice = "350"
- selidovoPrice = "400"
- kurahovoPrice = "350"
- volnovahaPrice = "350"
- kharkovPrice = "650"
- konstantinovkaPrice = "500"
- kramatorskPrice = "500"
- slavyanskPrice = "500"
- izumPrice = "650"
- dobropolyePrice = "350"
- dimitrovoPrice = "350"
- dneprPrice = "550"
- mariupolPrice = "400"
- rostovPrice = "600"
- slavyanskNaKubaniPrice = "1 600"
- gorRostovPrice = "600"
- krasnodarPrice = "1 200"
- belgorodPrice = "1 600"
- piterPrice = "3 400"
- bryanskPrice = "1 900"
- orelPrice = "1 700"
- kurskPrice = "1 800"
- anapaPrice = "1 600"
- zaporPrice = "450"
- adlerPrice = "2 500"
- artemPrice = "450"
- tuapsePrice = "2 000"
- gelendjikPrice = "2 000"
- sochiPrice = "2 300"
- livniPrice = "1 600"
- kislovodskPrice = "2 500"
- stavropolPrice = "2 000"
- volgogradPrice = "1 600"
- gorlovkaMskPrice = "1 800"
- taganrogPrice = "550"
- nnPrice = "3 500"
- vnPrice = "3 200"
- erevanPrice = "3 500"
- tbilisiPrice = "3 500"
- saratovPrice = "2 800"
- tolPrice = "3 500"
- samaraPrice = "3 500"
- zapPrice = "500"
- odessaPrice = "800"
- elecPrice = "1 600"
- lipeckPrice = "2 000"
- tverPrice = "3 000"
- berdPrice = "750"
- dneprEvpat = "700"
- dneprSevastopol = "700"
- dneprSimferopol = "600"
- stOskolPrice = "2 000"
- hersonDon = "850"


//- Донцек - Крым
- kerchPrice = "1 600"
- feodosiyaPrice = "1 600"
- simferopolPrice = "1 600"
- alushtaPrice = "1 900"
- yaltaPrice = "1 900"
- sevastopolPrice = "2 000"


//- Горловка - Крым
- gorKerchPrice = "2 200"
- gorFeodosiyaPrice = "2 200"
- gorSimferopolPrice = "2 200"
- gorSevastopolPrice = "2 200"
- gorAlushtaPrice = "2 100"
- gorYaltaPrice = "2 200"


//- Луганск
- lugSev = "2 000"
- lugSimf = "2 000"
- lugYalta = "2 000"
- lugFeodisya = "2 000"
- lugAlushta = "2 000"
- lugOrel = "1 500"
- lugBryansk = "1 800"
- lugKerch = "2 000"
- lugGomel = "3 400"
- lugMinsk = "4 000"
- lugPiter = "3 400"
- lugMsk = "1 800"
- lugTula = "1 800"
- lugBelgorod = "1 000"
- lugKursk = "1 300"
- lugRostov = "600"
- lugKrasnodar = "1 100"
- lugSochi = "2 000"
- lugAdler = "2 200"
- lugSuhum = "2 500"
- lugKharkov = "1 200"
- lugDnepr = "1 700"
- lugZap = "1 800"
- lugHerson = "2 000"
- lugOdessa = "2 300"

//-  цены с Украины в Россию
- kievMskPrice = "600"
- kievKrasnodar = "1 300"
- kievRostov = "950"
- kievDjubga = "1 550"
- kievTuapse = "1 550"
- kievLazar = "1 650"
- kievSochi = "1 650"
- kievDjankoy = "750"
- kievSimf = "700"
- kievSevas = "700"
- kievEvpat = "700"
- kievFeod = "700"
- kievKerch = "700"
- kievYalta = "700"
- kievAlushta = "700"

- kharkovKrasnodar = "950"
- kharkovRostov = "800"
- kharkovDjubga = "1 250"
- kharkovTuapse = "1 250"
- kharkovLazar = "1 300"
- kharkovSochi = "1 300"
- kharkovBelgorod = "400"
- kharkovKursk = "500"
- kharkovOrel = "500"
- kharkovTula = "500"
- kharkovMsk = "500"
- kharkovPiter = "1 000"

- artBelgorod = "600"
- artKursk = "700"
- artOrel = "700"
- artTula = "700"
- artMsk = "700"
- artPiter = "1 100"

- slavBelgorod = "500"
- slavKursk = "600"
- slavOrel = "600"
- slavTula = "600"
- slavMsk = "600"
- slavPiter = "1 000"

- kramBelgorod = "500"
- kramKursk = "600"
- kramOrel = "600"
- kramTula = "600"
- kramMsk = "600"
- kramPiter = "1 100"

- konstBelgorod = "500"
- konstKursk = "600"
- konstOrel = "600"
- konstTula = "600"
- konstMsk = "600"
- konstPiter = "1 000"

//-  В Белоруссию
- minskPrice = "4 000"
- mogPrice = "3 700"
- gomPrice = "3 300"