//- Цены на прямые маршруты
- moskowPrice  = "1 400"
- voronejPrice = "1 000"
- pavlovskPrice = "1 500"
- tulaPrice = "1 500"
- kievPrice = "1 000"
- borispolPrice = "1 500"
- piryatinPrice = "1 300"
- lubniPrice = "1 200"
- poltavaPrice = "1 000"
- krasnogradPrice = "1 000"
- novomoskovskPrice = "900"
- pavlogradPrice = "800"
- krasnoarmeyskPrice = "350"
- selidovoPrice = "400"
- kurahovoPrice = "350"
- volnovahaPrice = "350"
- kharkovPrice = "650"
- konstantinovkaPrice = "550"
- kramatorskPrice = "600"
- slavyanskPrice = "600"
- izumPrice = "700"
- dobropolyePrice = "350"
- dimitrovoPrice = "350"
- dneprPrice = "550"
- mariupolPrice = "400"
- rostovPrice = "600"
- slavyanskNaKubaniPrice = "1 600"
- gorRostovPrice = "600"
- krasnodarPrice = "1 200"
- belgorodPrice = "1 600"
- piterPrice = "3 400"
- bryanskPrice = "1 900"
- orelPrice = "1 700"
- kurskPrice = "1 800"
- zaporPrice = "450"
- artemPrice = "450"
- livniPrice = "1 600"
- kislovodskPrice = "2 500"
- stavropolPrice = "2 000"
- volgogradPrice = "1 600"
- gorlovkaMskPrice = "1 800"
- taganrogPrice = "550"
- nnPrice = "3 500"
- vnPrice = "3 200"
- erevanPrice = "3 500"
- tbilisiPrice = "3 500"
- saratovPrice = "2 500"
- kazanPrice = "3 800"
- tolPrice = "3 500"
- samaraPrice = "3 300"
- zapPrice = "500"
- odessaPrice = "800"
- elecPrice = "1 600"
- lipeckPrice = "2 000"
- tverPrice = "3 000"
- berdPrice = "750"
- dneprEvpat = "700"
- dneprSevastopol = "700"
- dneprSimferopol = "600"
- stOskolPrice = "2 000"
- hersonDon = "950"

//- Донецк - Сочи
- sochiPrice = "2 000"
- tuapsePrice = "2 000"
- gelendjikPrice = "2 000"
- anapaPrice = "1 800"
- adlerPrice = "2 000"


//- Донцек - Крым
- kerchPrice = "1 600"
- feodosiyaPrice = "1 600"
- simferopolPrice = "1 600"
- alushtaPrice = "1 900"
- yaltaPrice = "1 900"
- sevastopolPrice = "2 000"


//- Горловка - Крым
- gorKerchPrice = "2 200"
- gorFeodosiyaPrice = "2 200"
- gorSimferopolPrice = "2 200"
- gorSevastopolPrice = "2 200"
- gorAlushtaPrice = "2 100"
- gorYaltaPrice = "2 200"


//- Луганск
- lugSev = "2 000"
- lugSimf = "2 000"
- lugYalta = "2 000"
- lugFeodisya = "2 000"
- lugAlushta = "2 000"
- lugOrel = "1 500"
- lugBryansk = "1 800"
- lugKerch = "2 000"
- lugGomel = "3 400"
- lugMinsk = "4 000"
- lugPiter = "3 400"
- lugMsk = "1 800"
- lugTula = "2 000"
- lugBelgorod = "1 000"
- lugKursk = "1 300"
- lugRostov = "600"
- lugKrasnodar = "1 100"
- lugSochi = "2 000"
- lugAdler = "2 200"
- lugSuhum = "2 500"
- lugKharkov = "1 200"
- lugDnepr = "1 700"
- lugZap = "1 800"
- lugHerson = "2 000"
- lugOdessa = "2 300"
- lugVoronej = "1 300"
- lugElec = "1 800"
- lugKaluga = "2 500"
- lugLipeck = "1 500"

//-  цены с Украины в Россию
- kievMskPrice = "550"
- kievKrasnodar = "1 300"
- kievRostov = "950"
- kievDjubga = "1 550"
- kievTuapse = "1 550"
- kievLazar = "1 650"
- kievSochi = "1 650"
- kievDjankoy = "750"
- kievSimf = "700"
- kievSevas = "700"
- kievEvpat = "700"
- kievFeod = "700"
- kievKerch = "700"
- kievYalta = "700"
- kievAlushta = "700"
- kievKursk = "260"
- kievOrel = "350"
- kievPiter = "920"

- kharkovKrasnodar = "950"
- kharkovRostov = "800"
- kharkovDjubga = "1 250"
- kharkovTuapse = "1 250"
- kharkovLazar = "1 300"
- kharkovSochi = "1 300"
- kharkovBelgorod = "400"
- kharkovKursk = "220"
- kharkovOrel = "300"
- kharkovTula = "500"
- kharkovMsk = "500"
- kharkovPiter = "1 000"

- artBelgorod = "600"
- artKursk = "700"
- artOrel = "700"
- artTula = "700"
- artMsk = "700"
- artPiter = "1 100"

- slavBelgorod = "500"
- slavKursk = "600"
- slavOrel = "600"
- slavTula = "600"
- slavMsk = "600"
- slavPiter = "1 000"

- kramBelgorod = "500"
- kramKursk = "600"
- kramOrel = "600"
- kramTula = "600"
- kramMsk = "600"
- kramPiter = "1 100"

- konstBelgorod = "500"
- konstKursk = "600"
- konstOrel = "600"
- konstTula = "600"
- konstMsk = "600"
- konstPiter = "1 000"

- sumiKursk = "180"
- sumiOrel = "280"
- sumiMsk = "500"
- sumiPiter = "920"


- poltavaKursk = "300"
- poltavaMsk = "700"

//-  В Белоруссию
- minskPrice = "4 000"
- mogPrice = "3 700"
- gomPrice = "3 300"


//- В Польшу
- kharkovLublin = "750"
- kharkovVarshava = "830"
- kharkovShecin = "1190"
- kharkovGdansk = "1150"
- kharkovGdinya = "1150"
- kievLublin = "500"
- kievVarshava = "600"
- kievShecin = "950"
- kievGdansk = "1100"
- kievGdinya = "1100"