script(defer src="/js/jquery.js")
script(defer src="/js/plugins.js?ver.1.16")
script(defer src="/js/script.js?ver.1.299")
script(charset="UTF-8" src="//cdn.sendpulse.com/28edd3380a1c17cf65b137fe96516659/js/push/dc49e3511336fc82ef954da43d67c829_1.js" async)

//- script(type="text/javascript" src="/newyear/swfobject.min.js")
//- script(type="text/javascript" src="/newyear/newyear.js?ver.1.0")

//- Yandex.Metrika counter
script.
	(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36626610 = new Ya.Metrika({ id:36626610, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
noscript.
	<div><img src="//mc.yandex.ru/watch/36626610" style="position:absolute; left:-9999px;display: none;" alt="" /></div>
//- /Yandex.Metrika counter
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-61791059-2','auto');ga('send','pageview');

//- BEGIN JIVOSITE CODE {literal}
script.
	(function(){ var widget_id = 'bvdbYyZ8uP';var d=document;var w=window;function l(){
	var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
//- {/literal} END JIVOSITE CODE