extends ../_layout
block append head
	meta(description="")
	meta(keywords="заказ автобуса, заказ микроавтобуса")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Услуги")
	meta(property="og:description" content="")
	meta(property="og:url" content="http://vseputi.com.ua/services/bus-rent")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="http://vseputi.com.ua/img/service/bus-rent.jpg")
	title Аренда автобуса
block content
	.main
		.container
			.row
				.col-sm-12.col-xs-12
					.main__title.no-margin Страница в разработке
						br
						br
						i.fa.fa-gears.fa-2x