extends ../_layout
block append head
	meta(description="")
	meta(keywords="заказ автобуса, заказ микроавтобуса")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Аренда микроавтобуса")
	meta(property="og:description" content="")
	meta(property="og:url" content="https://vseputi.com.ua/services/bus-rent")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/service/bus.jpg")
	title Аренда микроавтобуса
block content
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная") 
								span(itemprop="title") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(title="Наши услуги" itemprop="url" href="/services/")
								span(itemprop="title") Наши услуги
						li.breadcrumbs__item
							span.breadcrumbs__link.current Аренда микроавтобуса
		h1.title.text-center(style="margin: 0 0 40px 0") Аренда микроавтобуса
		.row
			.col-md-offset-1.col-md-10.col-sm-12
				.row
					.col-sm-6
						.subtitle(style="margin-top:0;") Mercedes-Benz Vito 638
						img.img-thumbnail.margin-bottom-30(src="/img/service/busrent/vito.jpg", alt="MB Vito 638")
					.col-sm-6
						.subtitle(style="margin-top:0;") Mercedes-Benz Vito 639
						img.img-thumbnail.margin-bottom-30(src="/img/service/busrent/vito639.jpg", alt="MB Vito 639")
		.row
			.col-sm-12
				ul.characteristics__list
					li.characteristics__list-item
						img.characteristics__list-item-img(src="/img/service/busrent/card-ic-1.png", alt="characteristics")
						p.characteristics__list-item-text 4 двери
					li.characteristics__list-item
						img.characteristics__list-item-img(src="/img/service/busrent/card-ic-2.png", alt="characteristics")
						p.characteristics__list-item-text Климат контроль
					li.characteristics__list-item
						img.characteristics__list-item-img(src="/img/service/busrent/card-ic-3.png", alt="characteristics")
						p.characteristics__list-item-text Коробка ручная
					li.characteristics__list-item
						img.characteristics__list-item-img(src="/img/service/busrent/card-ic-4.png", alt="characteristics")
						p.characteristics__list-item-text 8 мест
					li.characteristics__list-item
						img.characteristics__list-item-img(src="/img/service/busrent/card-ic-5.png", alt="characteristics")
						p.characteristics__list-item-text Салон ткань
				.description__text.text-center#anchor Вы с лёгкостью можете получить расчет по аренде микроавтобусов (минивенов) позвонив нам по одному из телефонов:<br><a href="tel:+78043330593" class="color-green" style="display:inline-block;font-size:22px;"><i class="fa fa-phone"></i> 8 804 333 05 93</a><br><a href="tel:+380958744992" class="color-green" style="display:inline-block;font-size:22px;"><i class="fa fa-phone"></i> +38 (095) 874 49 92</a><br><br>или написав нам на почту<br><a href="mailto:infovseputi@gmail.com" class="color-green" style="display:inline-block;font-size:22px;"><i class="fa fa-envelope"></i> infovseputi@gmail.com</a>
		.advantages
			h3.title.advantages__main-title НАШИ ПРИЕМУЩЕСТВА
			.row
				.col-md-3.col-sm-6
					.advantages__block
						i.fa.fa-map-marker
						p.advantages__title Удобный сервис
						p.advantages__text Вы можете получить и сдать авто в удобное для вас время.
				.col-md-3.col-sm-6
					.advantages__block
						i.fa.fa-gift
						p.advantages__title Система скидок
						p.advantages__text Наша система скидок позволит Вам экономить на аренде авто при последующих заказах.
				.col-md-3.col-sm-6
					.advantages__block
						i.fa.fa-usd
						p.advantages__title Никакой наценки
						p.advantages__text Отсутствие наценок и прозрачная система оплаты позволят Вам не беспокоится за Ваши средства.
				.col-md-3.col-sm-6
					.advantages__block
						i.fa.fa-wrench
						p.advantages__title Без сюрпризов
						p.advantages__text Мы тщательно следим за техническим состоянием своих авто, поэтому Вы получите технически подготовленный автомобиль.
		.text-center
			a.btn.btn-red(href="#anchor" anchor-trigger style="font-size: 22px;padding: 7px 45px;") 
				i.fa.fa-space-shuttle
				|  Арендовать авто
		br
	include ../includes/modules/_share