extends ../_layout
block append head
	meta(description="Компания VSEPUTI предоставляет ряд услуг по заказу трансферов, автобусов для мероприятий и бронированию авиабилетов.")
	meta(keywords="трансфер, заказ автобуса, бронирование авиабилетов")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Наши услуги")
	meta(property="og:description" content="Компания VSEPUTI предоставляет ряд услуг по заказу трансферов, автобусов для мероприятий и бронированию авиабилетов.")
	meta(property="og:url" content="https://vseputi.com.ua/services/")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="https://vseputi.com.ua/img/service/service.jpg")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@vseputi")
	meta(name="twitter:title" content="Наши услуги")
	meta(name="twitter:description" content="Компания VSEPUTI предоставляет ряд услуг по заказу трансферов, автобусов для мероприятий и бронированию авиабилетов.")
	meta(name="twitter:image:src" content="https://vseputi.com.ua/img/service/service.jpg")
	title Наши услуги
block content
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="https://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная")
								span(itemprop="title") Главная
						li.breadcrumbs__item
							span.breadcrumbs__link.current Наши услуги
		.row
			.col-sm-12.col-xs-12
				h1.main__title.service__main-title Наши услуги
		.row
			//- .col-sm-12.col-md-4
			//- 	.service__block
			//- 		a(href="/services/bus-rent")
			//- 			.service__block-top
			//- 				.service__icon(style="background: url(../img/service/bus-rent.png) center center no-repeat;")
			//- 				img.service__img(src="/img/service/bus-rent.jpg", alt="Аренда автобуса")
			//- 			.service__block-bottom
			//- 				p.service__title Аренда автобуса
			//- 				p.service__text Аренда автобуса под Ваши нужды в более чем 100 городах Украины и РФ.
			.col-sm-12.col-md-4
				.service__block
					a(href="/services/transfer")
						.service__block-top
							.service__icon(style="background: url(../img/service/transfer.png) center center no-repeat;")
							img.service__img(src="/img/service/transfer.jpg", alt="Трансфер")
						.service__block-bottom
							p.service__title Трансфер по Крыму
							p.service__text Встречи в аэропортах, вокзалах и отелях. Быстро и с комфортом.
			//- .col-sm-12.col-md-4
			//- 	.service__block
			//- 		a(href="https://megatour.net.ua/" rel="nofollow" target="_blank" onclick="yaCounter36626610.reachGoal('tour-click'); return true;")
			//- 			.service__block-top
			//- 				img.main-menu__link-sticker(src="/img/discount.svg", alt="Discount" style="width:82px;height:82px;")
			//- 				.service__icon(style="background: url(../img/service/stars.png) center center no-repeat;")
			//- 				img.service__img(src="/img/service/tour.jpg", alt="Заказ горящих туров")
			//- 			.service__block-bottom
			//- 				p.service__title Заказ горящих туров
			//- 				p.service__text Египет, Турция, Гоа и другие страны со скидкой <strong style="font-size:18px;">8%</strong> при заказе с сайта.
			.col-sm-12.col-md-4
				.service__block
					a(href="https://www.kupibilet.ru/?agent=1288&tag=dym4156" rel="nofollow" target="_blank")
						.service__block-top
							.service__icon(style="background: url(../img/service/air.png) center center no-repeat;")
							img.service__img(src="/img/service/air.jpg", alt="Бронь Авиабилетов")
						.service__block-bottom
							p.service__title Бронь авиабилетов
							p.service__text Бронирование самых дешевых авиабилетов на любые направления.
		include ../includes/modules/_share
		br
		br
		br
		br
		br
		br
		br
		br
		br