extends ../_layout
block append head
	meta(description="Компания VSEPUTI предоставляет ряд услуг по заказу трансферов, автобусов для мероприятий и бронированию авиабилетов.")
	meta(keywords="трансфер, заказ автобуса, бронирование авиабилетов")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Услуги")
	meta(property="og:description" content="Компания VSEPUTI предоставляет ряд услуг по заказу трансферов, автобусов для мероприятий и бронированию авиабилетов.")
	meta(property="og:url" content="http://vseputi.com.ua/services/")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="http://vseputi.com.ua/img/service/service.jpg")
	title Трансфер по Крыму
	- service = true;
block content
	.service__main
		.container
			.service__page-preview
				.service__page-title Ищете трансфер по Крыму?
				.service__page-subtitle Тогда Вы обратились по адресу.
	.service__form-block#anchor-block
		.container
			form.form__form(action="#")
				.row
					.col-sm-4
						.row
							.col-sm-6.col-xs-6
								.form__control
									label.form__label
										i.fa.fa-calendar
										| Дата
									input.form__input(type="text" name="date" datepicker-time required)
							.col-sm-6.col-xs-6
								.form__control
									label.form__label
										i.fa.fa-clock-o
										| Время
									input.form__input(type="time" name="time" required)
					.col-sm-4
						.form__control
							label.form__label
								i.fa.fa-building
								| Город и место отправления
							input.form__input(type="text" name="city-departure" required)
					.col-sm-4
						.form__control
							label.form__label
								i.fa.fa-building-o
								| Город и место прибытия
							input.form__input(type="text" name="city-arrive" required)
				.row
					.col-lg-4.col-md-3.col-sm-6
						.form__control
							label.form__label
								i.fa.fa-user
								| ФИО
							input.form__input(type="text" name="name" required)
					.col-sm-6.col-md-3
						.form__control
							label.form__label
								i.fa.fa-phone
								| Телефон
							input.form__input(type="tel" name="phone" only-numbers required)
					.col-lg-5.col-md-6
						.form__control.margin-top-30
							label.form__label(style="display:inline-block;")
								i.fa.fa-users
								| Кол-во пассажиров (включая детей)
							input.form__input.service__form-quantity(type="text" name="quantity" only-numbers maxlength="3" required)
				.row
					.col-sm-8
						.form__control
							label.form__label(style="display:inline-block;")
								i.fa.fa-comments-o
								| Комментарии к заказу
							textarea.form__textarea(name="message")
					.col-sm-4
						.form__control
							button.form__submit.btn.service__form-btn(type="submit")
								i.fa.fa-location-arrow 
								|  Заказать трансфер
	.service__advantages
		.container
			.row
				.col-sm-4
					.service__description
						.service__description-icon
							i.fa.fa-users
						.service__description-block
							p.service__description-title Персонал
							p.service__description-text Наши водители являются профессионалами в своей сфере, благодаря чему они выберут лучшую дорогу и спланируют маршрут в обход пробок.
				.col-sm-4
					.service__description
						.service__description-icon
							i.fa.fa-shield
						.service__description-block
							p.service__description-title Надежно
							p.service__description-text Вам всегда будет комфортно и уютно благодаря просторному салону и вместительному багажнику, мягкой подвеске и высокому уровню безопасности.
				.col-sm-4
					.service__description
						.service__description-icon
							i.fa.fa-diamond
						.service__description-block
							p.service__description-title Доступно
							p.service__description-text Мы предоставляем самые выгодные цены на услуги трансфера и лёгкость системы резервирования.
			.row
				.col-sm-4
					.service__description
						.service__description-icon
							i.fa.fa-usd
						.service__description-block
							p.service__description-title Оплата
							p.service__description-text Оплачивайте услуги трансфера быстро и легко благодаря безопасным онлайн платежам.
				.col-sm-4
					.service__description
						.service__description-icon
							i.fa.fa-clock-o
						.service__description-block
							p.service__description-title не нужно ждать
							p.service__description-text Вы не тратите время на ожидание или заказ автотранспорта по месту прибытия. Наш водитель Вас встретит и поможет с упаковкой багажа в авто.
				.col-sm-4
					.service__description
						.service__description-icon
							i.fa.fa-star
						.service__description-block
							p.service__description-title Поддержка
							p.service__description-text Мы стремимся к высокому качеству обслуживания своих клиентом, поэтому предоставляем персонального диспетчера на все время трансфера.
	.service__line-block
		.container
			.row
				.col-sm-8.col-md-9
					p.service__line-title Как быстро и без суеты добраться к пункту назначения ?
				.col-sm-4.col-md-3
					a.btn.service__line-btn(href="#anchor-block" anchor-trigger)
						i.fa.fa-flag-checkered
						|  Заказать трансфер
	.service__auto
		.row
			.col-sm-4.col-xs-12.no-padding
				img.service__auto-img(src="/img/service/aveo.jpg", alt="transfer img")
				.service__auto-description
					p.service__auto-description-title Эконом класс
					p.service__auto-description-text Предназначен для клиентов, которые предпочитают недорогие транспортные услуги. Мы готовы предоставить в Ваше распоряжение надежные, удобные, но в тоже время недорогие автомобили эконом класса для трансфера по Крыму.
			.col-sm-4.col-xs-12.no-padding
				img.service__auto-img(src="/img/service/tucson.jpg", alt="transfer img")
				.service__auto-description
					p.service__auto-description-title Средний класс
					p.service__auto-description-text Этот класс выбирают клиенты, которые помимо качества и комфорта ценят статус. Автомобили среднего класса также отличаются большей вместительностью багажного отделения, для того чтобы с лихвой вместить все Ваши чемоданы.
			.col-sm-4.col-xs-12.no-padding
				img.service__auto-img(src="/img/service/micro.jpg", alt="transfer img")
				.service__auto-description
					p.service__auto-description-title Микроавтобус
					p.service__auto-description-text Идеальный вариант для большой компании. Вместительный микроавтобус с легкостью вместит весь Ваш багаж и предоставит до 8 комфортных посадочных мест в салоне. Перемещайтесь весело и комфортно.
	.service__work
		.container
			.service__work-title
				i.fa.fa-quote-right
				|  Как мы работаем
			.service__work-block-section
				.service__work-block
					.service__work-icon
						i.fa.fa-pencil
					p.service__work-step-title Шаг 1
					p.service__work-text Вы оставляете заявку на заказ трансфера заполнив <a href="#anchor-block" anchor-trigger>форму</a>
				.service__work-block
					.service__work-icon
						i.fa.fa-phone
					p.service__work-step-title Шаг 2
					p.service__work-text Мы принимаем заказ и связываемся с Вами для подтверждения и уточнения деталей поездки.
				.service__work-block
					.service__work-icon
						i.fa.fa-database
					p.service__work-step-title Шаг 3
					p.service__work-text Вы вносите полную или частичную оплату.
				.service__work-block
					.service__work-icon
						i.fa.fa-bank
					p.service__work-step-title Шаг 4
					p.service__work-text В назначенное время и место прибывает Ваш трансфер.
				.service__work-block
					.service__work-icon
						i.fa.fa-flag-checkered
					p.service__work-step-title Шаг 5
					p.service__work-text Вы прибыли к пункту назначения вовремя, комфортно и получили ряд положительных эмоций.
	.service__line-block
		.container
			.row
				.col-sm-8.col-md-9
					p.service__line-title Не медлите, закажите комфорт перемещения прямо сейчас!
				.col-sm-4.col-md-3
					a.btn.service__line-btn(href="#anchor-block" anchor-trigger)
						i.fa.fa-flag-checkered
						|  Заказать трансфер
	.service__faq
		.container
			.service__faq-title
				i.fa.fa-comments-o
				|  Часто задаваемые вопросы
			.row
				.col-md-10.col-md-offset-1
					ul.service__faq-list
						li.service__faq-list-item
							a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-1") 
								i.fa.fa-chevron-circle-down.pull-right
								| Хочу заказать трансфер, как это сделать ?
							.service__faq-list-answer#question-1
								p 
									strong Порядок заказа трансфера:
								ol
									li Перейдите к <a href="#anchor-block" anchor-trigger>форме</a> и заполните все поля.
									li В комментариях к заказу укажите необходимый Вам вид транспорта, а также какие либо Ваши пожелания.
									li Ожидайте звонка диспетчера.
									li Оплатите заказ на предоставленный расчетный счет от диспетчера.
						li.service__faq-list-item
							a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-2") 
								i.fa.fa-chevron-circle-down.pull-right
								| Как мне оплатить трансфер ?
							.service__faq-list-answer#question-2
								p Оплатить услугу трансфера можно по предоставленным реквизитам от диспетчера при подтверждении заказа трансфера. 
						li.service__faq-list-item
							a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-3") 
								i.fa.fa-chevron-circle-down.pull-right
								| Как отменить трансфер ?
							.service__faq-list-answer#question-3
								p Для отмены ранее заказанного трансфера и возврата денежных средств необходимо сообщить Вашему диспетчеру по телефону: <strong>+7 (978) 806 19 36</strong> или <strong>+38 (095) 402 79 77</strong>.
								p
									strong Обратите внимание:
								ul
									li Средства возвращаются при своевременной отмене заказа, граничный срок которого составляет не менее 24 часов до запланированной даты.
									li В случае отмены заказа позже указанного срока, денежные средства <strong>возврату не подлежат</strong>.
									li При форс-мажорных обстоятельствах возврату подлежит полная стоимость услуги трансфера.
									li Комиссия платежных систем возврату не подлежит.
						li.service__faq-list-item
							a.service__faq-list-question(href="javascript:void(0);" data-collapse="question-4") 
								i.fa.fa-chevron-circle-down.pull-right
								| У меня крупногабаритный багаж, как мне быть ?
							.service__faq-list-answer#question-4
								p В случае, если Вы имеете в наличии крупногабаритный багаж, обязательно укажите в соответствующем поле формы, при заполнении заказа. Таким образом мы сможем подобрать для Вас наиболее подходящий транспорт.