extends ../_layout
block append head
	- var city = "Донецк - Краматорск"
	- category = "Междугородние перевозки"
	include ../includes/modules/_meta
block content
	.main
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Донецк - Краматорск 
						span от #{kramatorskPrice}
						|  грн
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Донецк - Краматорск
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 05:00 
										| АВ "Южный"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 12:00 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(без пересадки на БП)<br>~ 7 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{kramatorskPrice} 
										| грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 12:00 
										| АВ "Южный"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 19:00 
										| Новый Свет
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(без пересадки на БП)<br>~ 7 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{kramatorskPrice} 
										| грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
				br
				.text-center
					a.back__link.btn(href="/intercity/autobus-kramatorsk-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description.hidden-xs
		.container
			.col-sm-12
				h2.description__title 
					strong Автобус Донецк – Краматорск (пассажирские автобусные перевозки в оба конца)
				p.description__text В связи с непростой обстановкой на Донбассе, очень сложно <strong>добраться из Донецка в Краматорск</strong>. Путь из одного города в другой преграждают большое количество блок постов, так называемая «буферная зона», которую очень сложно пересечь даже с наличием электронного пропуска. Наша транспортная компания «VSEPUTI» предоставляет комфортабельные <strong>пассажирские автобусные перевозки Донецк – Краматорск</strong>,маршрут таких перевозок осуществляется опытными и осведомленными водителями по максимально безопасному маршруту. <strong>Купить билет на автобус Донецк – Краматорск </strong>или забронировать место на определенную дату и время вы можете, заполнив форму на сайте или позвонив по номерам указанным на сайте. Покупая или бронируя <strong>билеты на автобус Донецк – Краматорск </strong>у вас обязательно должен быть электронный пропуск позволяющий пересекать линию разграничения. Если у вас нет желания или возможности лично выехать из Донецка по направлению <strong>Донецк – Краматорск</strong>, вы можете <strong>передать багаж</strong> нашим рейсом, цену на данную услугу вы можете узнать непосредственно у водителя автобуса, и она будет зависеть от размеров багажа.
				h2.description__title 
					strong Расписание автобусов Донецк – Краматорск
				p.description__text <strong>Расписание автобусов по направлению Донецк – Краматорск </strong>выстроено с наиболее удобным временем отправления и прибытия маршрутов, учитывая так же нюансы пропускного времени через блок посты на линии разграничения. На данный момент наша диспетчерская служба может предоставить два варианта маршрута по направлению <strong>Донецк – Краматорск </strong>в разное время, оба этих рейса, осуществляются без пересадки на линии разграничения, то есть вы следуете по назначенному маршруту без лишних неудобств связанных с пересадками. Вам не придется переходить буферную зону пешком и уж тем более самостоятельно переносить свой багаж. Более подробную информацию о маршруте Донецк – Краматорск вы можете узнать у менеджеров нашей диспетчерской службы по телефонам указанным на сайте.