extends ../_layout
block append head
	- var city = "Донецк - Павлоград"
	- category = "Междугородние перевозки"
	include ../includes/modules/_meta
block content
	.main
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Донецк - Павлоград 
						span от #{pavlogradPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Донецк - Павлоград
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 13:00 
										| Место отправления уточняйте
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 22:30 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(с пересадкой на БП)<br>≈ 9,5 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{pavlogradPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/intercity/autobus-pavlograd-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block.toggle-block__text
				h2.description__title Автобус Донецк - Павлоград (пассажирские автобусные перевозки в оба конца)
				p.description__text В связи с непростой обстановкой на Донбассе, очень сложно добраться из Донецка в <b>Павлоград</b>. Путь из одного города в другой преграждают большое количество блок постов, так называемая «буферная зона», которую очень сложно пересечь даже с наличием электронного пропуска. Наша транспортная компания «VSEPUTI» предоставляет комфортабельные <b>пассажирские автобусные перевозки Донецк - Павлоград</b>,маршрут таких перевозок осуществляется опытными и осведомленными водителями по максимально безопасному маршруту. <b>Купить билет на автобус Донецк - Павлоград </b>или забронировать место на определенную дату и время вы можете, заполнив форму на сайте или позвонив по номерам указанным на сайте. Покупая или бронируя <b>билеты на автобус Донецк - Павлоград </b>у вас обязательно должен быть электронный пропуск позволяющий пересекать линию разграничения. Если у вас нет желания или возможности лично выехать из Донецка по направлению <b>Донецк - Павлоград</b>, вы можете <b>передать багаж</b> нашим рейсом, цену на данную услугу вы можете узнать непосредственно у водителя автобуса, и она будет зависеть от размеров багажа.
				h2.description__title Расписание автобусов Донецк - Павлоград
				p.description__text <b>Расписание автобусов по направлению Донецк - Павлоград </b>выстроено с наиболее удобным временем отправления и прибытия маршрутов, учитывая так же нюансы пропускного времени через блок посты на линии разграничения. К сожалению, на данный момент наша диспетчерская служба может предоставить только один вариант маршрута по направлению <b>Донецк - Павлоград</b>, это рейс, идущий с пересадками по принципу «борт в борт». То есть вам не придется переходить буферную зону пешком и уж тем более самостоятельно переносить свой багаж, приезжая на линию разграничения на одном автобусе вы пересаживаетесь во второй, который и будет далее следовать по назначенному маршруту. Более подробную информацию о маршруте Донецк - Павлоград вы можете узнать у менеджеров нашей диспетчерской службы по телефонам указанным на сайте.
			