.advantages
	.container
		.title.advantages__main-title Преимущества для пассажиров
		.row
			.col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-suitcase
					.col-sm-8
						p.advantages__title Багаж бесплатно
						p.advantages__text Предоставляется не на всех рейсах. Подробности у диспетчера.
			.col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-percent
					.col-sm-8
						p.advantages__title Скидки самым маленьким
						p.advantages__text Детская программа лояльности. Подробности у диспетчера.
			.col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-shield
					.col-sm-8
						p.advantages__title безопасно и Комфортно
						p.advantages__text Технически исправный и комфортабельный транспорт
			.col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-wifi
					.col-sm-8
						p.advantages__title Wi-Fi в дороге
						p.advantages__text Предоставляется не во всех автобусах. Подробности у диспетчера.
			.col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-tv
					.col-sm-8
						p.advantages__title ТВ автобусах
						p.advantages__text Предоставляется не на всех рейсах. Подробности у диспетчера.
			//- .col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-snowflake-o
					.col-sm-8
						p.advantages__title Кондиционер
						p.advantages__text Комфорт в дороге при любой погоде.
			.col-md-4.col-sm-6.advantages__block.col-xs-6.col-xxs-12
				.row
					.col-sm-4.text-center.xs-text-left
						i.fa.fa-snowflake-o
					.col-sm-8
						p.advantages__title Климат-контроль
						p.advantages__text Комфорт в дороге при любой погоде.