.advantages
	.container
		h3.title.advantages__main-title Преимущества для наших пассажиров
		.row
			.col-md-4.col-sm-6
				.advantages__block
					i.fa.fa-suitcase
					p.advantages__title Багаж бесплатно
					p.advantages__text Специально для вашего удобства и экономии в билет включено как минимум 1 багажное место. Путешествуйте с комфортом.
			.col-md-4.col-sm-6
				.advantages__block
					i.fa.fa-percent
					p.advantages__title Скидки самым маленьким
					p.advantages__text Уникальная дисконтная программа позволяет снизить стоимость для детей до 12 лет (подробности уточняйте у диспетчера)
			.col-md-4.col-sm-6.col-sm-offset-3.col-md-offset-0
				.advantages__block
					i.fa.fa-shield
					p.advantages__title безопасно и Комфортно
					p.advantages__text Мы заботимся о каждом своем пассажире, поэтому предоставляем технически исправный и комфортабельный транспорт
		.row
			.col-md-4.col-sm-6
				.advantages__block
					i.fa.fa-wifi
					p.advantages__title Wi-Fi в дороге
					p.advantages__text В наших автобусах предусмотрены точки доступа Wi-Fi, благодаря которым Вы всегда сможете оставаться в сети. (* предоставляется не на всех маршрутах)
			.col-md-4.col-sm-6
				.advantages__block
					i.fa.fa-tv
					p.advantages__title ТВ в каждом автобусе
					p.advantages__text Интересные передачи и фильмы не дадут Вам заскучать в пути. Желаем приятного просмотра.
			//- .col-md-4.col-sm-6.col-sm-offset-3.col-md-offset-0
				.advantages__block
					i.fa.fa-snowflake-o
					p.advantages__title Кондиционер
					p.advantages__text Даже в самую знойную погоду Вы будете перемещаться с комфортом благодаря работающему кондиционеру.
			.col-md-4.col-sm-6.col-sm-offset-3.col-md-offset-0
				.advantages__block
					i.fa.fa-snowflake-o
					p.advantages__title Климат-контроль
					p.advantages__text Даже в самую холодную погоду Вы будете перемещаться с комфортом благодаря климат-контролю в наших автобусах.