.attention
	.container
		.row
			.col-sm-8.col-sm-offset-2
				.attention__block
					p.attention__block-text-red <i class="fa fa-exclamation-triangle "></i> <strong>ВНИМАНИЕ</strong> <i class="fa fa-exclamation-triangle "></i><br>Перед поездкой убедитесь о наличии всех необходимых документов для пересечения границы.
					p.attention__block-text Номера телефонов бесплатных гарячих линий миграционных служб: <strong>8-800-222-98-98 (Россия)</strong>, <strong>(044) 278-50-30 (Украина)</strong>
					br
					p.attention__block-note * В случае притензий пограничного контроля к Вашим документам денежные средства потраченные на приобретение билета <strong>не возвращаются</strong>