.attention
	.container
		.row
			.col-sm-12
				.attention__block
					p.attention__block-title Перед поездкой убедитесь о наличии всех необходимых документов для пересечения границы.
					p.attention__block-text Горячии линии миграционных служб: <span>+7 (800) 222-98-98</span> (Россия), <span>+38 (044) 278-50-30</span> (Украина).
					p.attention__block-note * В случае претензий пограничного контроля к Вашим документам денежные средства потраченные на приобретение билета не возвращаются.
include ../../includes/modules/_commercial-bottom