br
.commercial.text-center
	.container
		#yandex_rtb_R-A-189567-2
		script.
			!function(e,t,n,a,s){e[n]=e[n]||[],e[n].push(function(){Ya.Context.AdvManager.render({blockId:"R-A-189567-2",renderTo:"yandex_rtb_R-A-189567-2",async:!0})}),s=t.getElementsByTagName("script")[0],a=t.createElement("script"),a.type="text/javascript",a.src="//an.yandex.ru/system/context.js",a.async=!0,s.parentNode.insertBefore(a,s)}(this,this.document,"yandexContextAsyncCallbacks");
br