.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-minsk-donetsk")
		p.popular__price от #{minskDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Минск
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-gomel-donetsk")
		p.popular__price от #{gomDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Гомель
			|  - 
			span(cityTo) Донецк
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-mogilev-donetsk")
		p.popular__price от #{mogDonPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Могилёв
			|  - 
			span(cityTo) Донецк