.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-minsk")
		p.popular__price от #{minskPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Минск
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-gomel")
		p.popular__price от #{gomPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Гомель
.popular__block
	i.fa.fa-lg.fa-map-signs
	a.popular__link(href="/international/autobus-donetsk-mogilev")
		p.popular__price от #{mogPrice}
			i.fa.fa-rub
		p.popular__name 
			span(cityFrom) Донецк
			|  - 
			span(cityTo) Могилёв