extends ../_layout
block append head
	- var city = "Донецк - Санкт-Петербург"
	- category = "Международные рейсы"
	- pageImg = "http://vseputi.com.ua/img/content/city-pattern/piter.jpg"
	include ../includes/modules/_meta
block content
	.main._piter-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Донецк - Санкт-Петербург 
						span от #{piterPrice}
							span.rubl a
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Донецк (через Макеевка, Харцызск, Зугрес, Торез) - Санкт-Петербург
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00
										| Донецк, АВ Южный
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 16:00 
										| Санкт-Петербург, ТРК "Континент"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>~ 33 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{piterPrice}
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-sankt-peterburg-donetsk") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	.description.hidden-xs
		.container
			.col-sm-12
				h2.description__title 
					strong Автобус Донецк – Санкт-Петербург, пассажирские перевозки
				p.description__text Транспортная компания «VSEPUTI» осуществляет <b>автобусные пассажирские перевозки по направлению Донецк - Санкт-Петербург</b>. Сейчас это одно из самых популярных направлений, поэтому зачастую <b>купить билет на автобус Донецк - Санкт-Петербург</b> достаточно проблематично. Однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее <b>забронировать билет на автобус по направлению Донецк - Санкт-Петербург</b> без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. Еще одним преимуществом является то, что осуществлять посадку на автобус по маршруту Донецк -Санкт-Петербург можно не только в начальном пункте отправки (Донецк), но и в городах через которые проложен маршрут Донецк-Москва, а именно: Горловка, Енакиево, Макеевка, Харцызск, Шахтерск, Зугрес). Для этого в заявке на <b>бронирование билетов на автобус Донецк- Санкт-Петербург</b> укажите желаемое место посадки, так вы будете уверены в том, что в не зависимости от города посадки на маршрут Донецк -Санкт-Петербург за вами будет закреплено нужное количество мест. <b>Автобус Донецк - Санкт-Петербург</b>, это комфортабельные, безопасные перевозки в кротчайшие сроки. <b>Время в пути автобуса Донецк - Санкт-Петербург</b> подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив <b>билеты на автобус Донецк - Санкт-Петербург</b>, вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Донецка в Санкт-Петербург, вы можете предварительно заказать билет в обратном направлении (<b>Санкт-Петербург</b> <b>- Донецк</b>), на необходимую дату и удобное для вас время, вы можете это сделать как из Донецка, так и из Санкт-Петербурга позвонив по российскому номеру телефона указанному на сайте. Автобус Донецк -Санкт-Петербург, следует согласно графику, и <b>цены на</b> <strong>билеты на автобус Донецк - </strong><b>Санкт-Петербург</b> вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом Донецк -Санкт-Петербург и заказом билетов в обе стороны. <b>Расписание автобусов Донецк - Санкт-Петербург</b> насчитывает несколько маршрутов, с формированием автобусов из Донецка и из Горловки, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению Донецк-Санкт-Петербург. <b>Купить билет на автобус Донецк – Санкт-Петербург: Санкт-Петербург</b> <b>– Донецк</b> вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая <b>билет на автобус Донецк – Санкт-Петербург</b> вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим менеджерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.