extends ../_layout
block append head
	- ot = "Санкт-Петербург"
	- to = "Донецк"
	- city = ot +' - '+ to
	- category = "Международные рейсы"
	- pageImg = "https://vseputi.com.ua/img/content/city-pattern/donetsk.jpg"
	include ../includes/modules/_meta
block content
	.main._donetsk-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Санкт-Петербург - Донецк 
						span от #{piterDonPrice}
						i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Санкт-Петербург - Донецк (через Макеевка, Харцызск, Зугрес, Торез)
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление (#{ot})
						.col-sm-4
							p.schedule__title Прибытие (#{to})
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость билетов
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 08:00 
										| ТРК "Континент"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 17:00 
										| АВ Южный
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 33 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{piterDonPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 09:00
										| Центральный АВ
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 18:30 
										| район Южного АВ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Ср<br>≈ 33 часа
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 3 400
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 09:00 
										| Центральный АВ
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 18:00 
										| "Золотое кольцо"
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ср<br>≈ 33 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 3 500
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-donetsk-sankt-peterburg") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Санкт-Петербург - Донецк, пассажирские перевозки
				p.description__text Транспортная компания «VSEPUTI» осуществляет <b>автобусные пассажирские перевозки по направлению Санкт-Петербург - Донецк</b>. Сейчас это одно из самых популярных направлений, поэтому зачастую <b>купить билет на автобус Санкт-Петербург - Донецк </b>достаточно проблематично. Однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее <b>забронировать билет на автобус по направлению Санкт-Петербург - Донецк </b>без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. <b>Автобус Санкт-Петербург - Донецк</b>, это комфортабельные, безопасные перевозки в кротчайшие сроки. <b>Время в пути автобуса Санкт-Петербург - Донецк </b>подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив <b>билеты на автобус Санкт-Петербург - Донецк</b>, вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Санкт-Петербурга в Донецк, вы можете предварительно заказать билет в обратном направлении (<b>Донецк - Санкт-Петербург</b>), на необходимую дату и удобное для вас время, вы можете это сделать как из Донецка, так и из Санкт-Петербурга позвонив по российскому номеру телефона указанному на сайте. Автобус Санкт-Петербург - Донецк, следует согласно графику, и <b>цены на</b>  билеты на автобус  <b>Санкт-Петербург - Донецк</b> вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом Санкт-Петербург - Донецки заказом билетов в обе стороны. <b>Расписание автобусов Санкт-Петербург - Донецк </b>насчитывает несколько маршрутов, с формированием автобусов из Донецка и из Горловки, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению Донецк-Москва. <b>Купить билет на автобус Донецк - Санкт-Петербург: Санкт-Петербург</b> <b>- Донецк</b> вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая <b>билет на автобус Санкт-Петербург - Донецк</b> вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим диспетчерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.
			