extends ../_layout
block append head
	- var city = "Донецк - Павловск"
	- category = "Международные перевозки"
	- pageImg = "http://vseputi.com.ua/img/content/city-pattern/pavlovsk.jpg"
	include ../includes/modules/_meta
block content
	.main._pavlovsk-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{pavlovskPrice}
							span.rubl a
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Донецк - Павловск
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:00 
										| Крытый рынок, "Золотой ключик"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 15:00 
										| Поворот на Павловск
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Сб<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 600
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:30 
										| Крытый рынок, "Эльдорадо"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 15:30 
										| Поворот на Павловск
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Ср, Сб<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 600
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать

					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:50 
										| Крытый р-к Аптека «Ольвия»
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 15:50 
										| Поворот на Павловск
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 600
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 10:20 
										| Ресторан "Старгород"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 18:30 
										| Поворот на Павловск
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Пн, Пт<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{pavlovskPrice}
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 12:00 
										| ТРЦ "Грин-Плаза"
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 20:00 
										| Поворот на Павловск
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 600
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 15:30 
										| АВ "Южный", платформа №6
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 23:30 
										| Поворот на Павловск
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Нечетные дни<br>~ 8 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{pavlovskPrice}
										span.rubl a
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Выбрать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-pavlovsk-donetsk") <i class="fa fa-refresh"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	.description.hidden-xs
		.container
			.col-sm-12
				h2.description__title 
					strong Автобус Донецк – Павловск, пассажирские перевозки
				p.description__text Транспортная компания «VSEPUTI» осуществляет <strong>автобусные пассажирские перевозки по направлению Донецк – Павловск</strong>. Зачастую <strong>купить билет на автобус Донецк – Павловск</strong> достаточно проблематично, однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее <strong>забронировать билет на автобус по направлению Донецк – Павловск</strong> без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. Еще одним преимуществом является то, что осуществлять посадку на автобус по маршруту Донецк – Павловск можно не только в начальном пункте отправки (Донецк), но и в городах через которые проложен маршрут Донецк-Павловск, а именно: Горловка, Енакиево, Макеевка, Харцызск, Шахтерск, Зугрес). Для этого в заявке на <strong>бронирование билетов на автобус Донецк – Павловск</strong> укажите желаемое место посадки, так вы будете уверены в том, что в не зависимости от города посадки на маршрут Донецк -Павловск за вами будет закреплено нужное количество мест. <strong>Автобус Донецк – Павловск</strong>, это комфортабельные, безопасные перевозки в кротчайшие сроки. <strong>Время в пути автобуса Донецк – Павловск</strong> подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив <strong>билеты на автобус Донецк – Павловск</strong>, вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Донецка в Павловск, вы можете предварительно заказать билет в обратном направлении (<strong>Павловск</strong> <strong>- Донецк</strong>), на необходимую дату и удобное для вас время, вы можете это сделать как из Донецка, так и из Павловска позвонив по российскому номеру телефона указанному на сайте. Автобус Донецк -<strong> Павловск</strong>, следует согласно графику, и <strong>цены на</strong> <strong>билеты на автобус </strong><strong>Донецк – Павловск</strong> вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом Донецк -Павловск и заказом билетов в обе стороны. <strong>Расписание автобусов Донецк – Павловск</strong> насчитывает несколько маршрутов, с формированием автобусов из Донецка и из Горловки, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению Донецк -Павловск. <strong>Купить билет на автобус Донецк – Павловск : Павловск</strong> <strong>– Донецк</strong> вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая <strong>билет на автобус Донецк – Павловск</strong> вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим менеджерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.<strongr />