extends ../_layout
block append head
	- var city = "Горловка - Ростов"
	- category = "Международные рейсы"
	- pageImg = "http://vseputi.com.ua/img/content/city-pattern/rostov.jpg"
	include ../includes/modules/_meta
block content
	.main._rostov-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Горловка - Ростов 
						span от #{gorRostovPrice}
							i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Горловка (через Енакиево, Харцызск, Зугрес, Шахтерск, Матвеев Курган) - Ростов
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 06:00
										| Горловка, Кочегарка
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 15:30 
										| Автовокзал
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>≈ 10 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{gorRostovPrice}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-rostov-gorlovka") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block.toggle-block__text
				h2.description__title 
					strong Автобус Горловка - Ростов, пассажирские перевозки
				p.description__text Транспортная компания «VSEPUTI» осуществляет <strong>автобусные пассажирские перевозки по направлению Горловка - Ростов</strong>. Сейчас это одно из самых популярных направлений, поэтому зачастую <strong>купить билет на автобус Горловка - Ростов</strong> достаточно проблематично. Однако, воспользовавшись услугами нашей компании, вы всегда сможете заранее <strong>забронировать билет на автобус по направлению Горловка - Ростов</strong> без труда, обеспечив себе место в комфортабельном автобусе на необходимое вам число и время. Еще одним преимуществом является то, что осуществлять посадку на автобус по маршруту Горловка- Ростов можно не только в начальном пункте отправки (Горловка), но и в городах через которые проложен маршрут Горловка-Ростов, а именно: Енакиево, Макеевка, Харцызск, Шахтерск, Зугрес, Матвеев Курган ). Для этого в заявке на <strong>бронирование билетов на автобус Горловка - Ростов</strong> укажите желаемое место посадки, так вы будете уверены в том, что в не зависимости от города посадки на маршрут Горловка-Ростов за вами будет закреплено нужное количество мест. <strong>Автобус Горловка - Ростов</strong>, это комфортабельные, безопасные перевозки в кротчайшие сроки. <strong>Время в пути автобуса Горловка - Ростов</strong> подсчитать достаточно сложно ведь это зависит от множества факторов, одним из которых является пересечение Российской границы. Однако стоит отметить, что купив <strong>билеты на автобус Горловка - Ростов</strong>, вы можете быть абсолютно спокойны, и уверены в том, что автобус в максимально короткое время пройдет таможню и продолжит следовать по указанному маршруту. Это обусловлено наличием полного пакета документов у водителей автобусов нашей компании. Для вашего удобства, покупая билет из Горловкив Ростов, вы можете предварительно заказать билет в обратном направлении (<strong>Ростов</strong> <strong>- Горловка</strong>), на необходимую дату и удобное для вас время, вы можете это сделать как из Горловки, так и из Ростова позвонив по российскому номеру телефона указанному на сайте. Автобус Горловка-Ростов, следует согласно графику, и <strong>цены на</strong> <strong>билеты на автобус </strong><strong>Горловка - Ростов</strong> вы можете найти на нашем сайте или уточнить у менеджеров по телефонам. Вы можете так же воспользоваться услугой «Обратный звонок», после чего в максимально короткое время с вами свяжутся наши высококвалифицированные менеджеры, у которых вы можете уточнить все волнующие вас вопросы и аспекты, связанные с маршрутом Горловка-Ростов и заказом билетов в обе стороны. <strong>Расписание автобусов Горловка - Ростов</strong> насчитывает несколько маршрутов, с формированием автобусов из Донецка и из Горловки, так вы можете выбрать необходимое место посадки без дополнительных затрат на дорогу до места формирования автобуса по направлению Горловка-Ростов. <strong>Купить билет на автобус Горловка - Ростов: Ростов</strong> <strong>- Горловка </strong>вы можете, не выходя из дома заполнив форму на сайте или позвонив по указанным на сайте номерам телефонов. Более того покупая <strong>билет на автобус Горловка - Ростов</strong> вы можете быть уверены, что в любых ситуациях вы можете обращаться за помощью к нашим диспетчерам, которые помогут не только скоординировать вас по месту формирования автобуса, но и смогут разрешить форс мажорные ситуации.
			a.toggle-link__text(href="javascript:void(0);") Показать все