extends ../_layout
block append head
	- var city = "Ялта - Киев"
	- category = "Международные рейсы"
	- pageImg = "http://vseputi.com.ua/img/content/city-pattern/kiev.jpg"
	include ../includes/modules/_meta
block content
	.main._kiev-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус Ялта - Киев 
						span от #{krimKievPrice}
						i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Ялта - Киев
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 07:20 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 00:20 
										| ВДНХ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(с пересадкой на БП)<br>≈ 17 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{krimKievPrice}
											i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 19:50 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 12:50 
										| ВДНХ
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(без пересадки на БП)<br>≈ 17 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 3 000
											i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 20:30 
										| Автовокзал
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 09:30 
										| ЖД Вокзал, МакДональдс
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Ежедневно<br>(с пересадкой на БП)<br>≈ 13 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong 1 000
											|  грн
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-kiev-yalta") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
					
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	.description
		.container
			.toggle-block__text
				h2.description__title Автобус Ялта - Киев (пассажирские автобусные перевозки в оба конца)
				p.description__text В связи с непростой обстановкой на территории Украины, достаточно сложно  добраться из   Ялты (Крым) в Киев  особенно в разгар туристического сезона  . Наша транспортная компания «VSEPUTI» предоставляет комфортабельные  пассажирские автобусные перевозки Ялта - Киев ,маршрут таких перевозок осуществляется опытными и осведомленными водителями по максимально безопасному маршруту.  Купить билет на автобус Ялта - Киев  или забронировать место на определенную дату и время вы можете, заполнив форму на сайте или позвонив по номерам указанным на сайте. Если у вас нет желания или возможности лично выехать из Ялты по направлению  Ялта - Киев - Ялта , вы можете  передать багаж  нашим рейсом, цену на данную услугу вы можете узнать непосредственно у водителя автобуса, и она будет зависеть от размеров багажа.
				h2.description__title Расписание автобусов Ялта - Киев
				p.description__text  Расписание автобусов по направлению Ялта - Киев  выстроено с наиболее удобным временем отправления и прибытия маршрутов, учитывая так же нюансы пропускного времени через границу. Существует два варианта маршрута по направлению  Ялта - Киев  и обратно, это прямой рейс без пересадок на любом блок посту и границе и  рейс Ялта - Киев  идущий с пересадками по принципу «борт в борт». То есть вам не придется переходить границу пешком и уж тем более самостоятельно переносить свой багаж, приезжая на линию разграничения на одном автобусе вы пересаживаетесь во второй, который и будет далее следовать по назначенному маршруту. На ваш выбор предоставляется  автобусы Ялта - Киев  в нескольких вариантах 46 местные и 8 местные (без пересадок), более подробную информацию вы можете узнать у менеджеров нашей диспетчерской службы по телефонам указанным на сайте.
				h2.description__title Цены на билеты на автобус Ялта - Киев
				p.description__text  Цена билета на автобус Ялта - Киев  будет зависеть от типа выбранного транспорта. Проезд в восьмиместном микроавтобусе, который следует по  маршруту Ялта - Киев  без пересадок будет стоить дороже, однако вместе с этим вы исключите неудобства связанные с пересадками и сократите время, потраченное на поездку из  Ялта - Киев . Более того за счет прямого маршрута и меньшего времени в пути,  расписание автобусов Ялта - Киев  включает в себя маршрут Ялта - Киев. Если же вы хотите  купить дешевый билет Ялта - Киев  и вас не смущают пересадки, вы можете приобрести билет на большой автобус. Так или иначе,  цены на билеты по направлению Ялта - Киев  вас приятно удивят.
			