extends ../_layout
block append head
	- var city = "Туапсе - Киев"
	- category = "Международные рейсы"
	- pageImg = "http://vseputi.com.ua/img/content/city-pattern/kiev.jpg"
	include ../includes/modules/_meta
block content
	.main._kiev-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Купить билет на автобус #{city} 
						span от #{tuapseKiev}
						i.fa.fa-rub
	.container
		.row
			.col-sm-12.col-xs-12
				include ../includes/modules/_breadcrumbs
				h2.schedule__main-title
					i.fa.fa-table
					| Расписание автобусов 
					span(citys) Туапсе - Киев (через Борисполь, Пирятин, Полтава)
	block moskow-way
		.schedule
			.container
				.schedule__section
					.row.hidden-xs
						.col-sm-4
							p.schedule__title Отправление
						.col-sm-4
							p.schedule__title Прибытие
						.col-sm-2
							p.schedule__title В пути
						.col-sm-2
							p.schedule__title Стоимость
					.row(place-parent)
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Отправление
								.col-xs-8.col-sm-12
									p.schedule__text(place-from)
										span.schedule__time 11:00 
										| Автостанция
						.col-xs-12.col-sm-4
							.row
								.col-xs-4.visible-xs
									p.schedule__title Прибытие
								.col-xs-8.col-sm-12
									p.schedule__text(place-to)
										span.schedule__time 20:45 
										| АС "Киев-1", ул. Петлюры 32
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title В пути
								.col-xs-8.col-sm-12
									p.schedule__text Чт, Вс<br>≈ 34 часов
						.col-xs-12.col-sm-2
							.row
								.col-xs-4.visible-xs
									p.schedule__title Стоимость
								.col-xs-8.col-sm-12
									p.schedule__price(price)
										strong #{tuapseKiev}
										i.fa.fa-rub
							.row
								.col-xs-12.col-sm-12.text-center
									p.schedule__text
										a.btn.schedule__btn(href="#order" fancybox) Забронировать
				br
				.text-center
					a.back__link.btn(href="/international/autobus-kiev-tuapse") <i class="fa fa-refresh fa-spin"></i> Посмотреть обратный маршрут
	include ../includes/modules/_share
	include ../includes/modules/_advantages
	include ../includes/modules/_attention
	//- .description
		.container
			.col-sm-12
				h2.description__title <strong>Автобус Донецк - Киев - Донецк (пассажирские автобусные перевозки в оба конца)</strong>
				p.description__text В связи с непростой обстановкой на Донбассе, очень сложно <strong>добраться из Донецка в Киев</strong>, впрочем как и из <strong>Киева в Донецк</strong>. Путь из одного города в другой преграждают большое количество блок постов, так называемая «буферная зона», которую очень сложно пересечь даже с наличием электронного пропуска. Наша транспортная компания «VSEPUTI» предоставляет комфортабельные <strong>пассажирские автобусные перевозки Донецк - Киев и Киев - Донецк</strong>, маршрут таких перевозок осуществляется опытными и осведомленными водителями по максимально безопасному маршруту. <strong>Купить билет на автобус Донецк-Киев</strong> или забронировать место на определенную дату и время вы можете, заполнив форму на сайте или позвонив по номерам указанным на сайте. Покупая или бронируя билеты на автобус Донецк-Киев у вас обязательно должен быть электронный пропуск позволяющий пересекать линию разграничения. Если у вас нет желания или возможности лично выехать из Донецка по направлению Донецк - Киев - Донецк, вы можете <strong>передать багаж</strong> нашим рейсом, цену на данную услугу вы можете узнать непосредственно у водителя автобуса, и она будет зависеть от размеров багажа. 
				h2.description__title <strong>Расписание автобусов Донецк - Киев</strong>
				p.description__text <strong>Расписание автобусов по направлению Донецк-Киев</strong> выстроено с наиболее удобным временем отправления и прибытия маршрутов, учитывая так же нюансы пропускного времени через блок посты на линии разграничения. Существует два варианта маршрута по направлению Донецк-Киев и обратно, это прямой <strong>рейс без пересадок</strong> на любом блок посту и рейс Донецк-Киев идущий с пересадками по принципу «борт в борт». То есть вам не придется переходить буферную зону пешком и уж тем более самостоятельно переносить свой багаж, приезжая на линию разграничения на одном автобусе вы пересаживаетесь во второй, который и будет далее следовать по назначенному маршруту. На ваш выбор предоставляется <strong>автобусы Донецк - Киев</strong> в нескольких вариантах 46 местные и 8 местные (без пересадок), более подробную информацию вы можете узнать у менеджеров нашей диспетчерской службы  по телефонам указанным на сайте.  
				h2.description__title <strong>Цены на билеты на автобус Донецк - Киев</strong>
				p.description__text <strong>Цена билета на автобус Донецк - Киев</strong> будет зависеть от типа выбранного транспорта. Проезд в восьмиместном микроавтобусе, который следует по <strong>маршруту Донец - Киев</strong> без пересадок будет стоить дороже, однако вместе с этим вы исключите неудобства связанные с пересадками и сократите время, потраченное на поездку из Донецка в Киев. Более того за счет прямого маршрута и меньшего времени в пути, <strong>расписание автобусов Донецк - Киев</strong> включает в себя маршрут Киев - Донецк. Если же вы хотите <strong>купить дешевый билет Киев - Донецк</strong> и вас не смущают пересадки, вы можете приобрести билет на большой автобус. Так или иначе, <strong>цены на билеты по направлению Донецк - Киев</strong> вас приятно удивят. 