extends ../_layout
block append head
	meta(description="Международные рейсы VSEPUTI включают в себя маршруты из Донецка и Украины в западную и северо-западную часть России, а также автобусные сообщения в Крым и обратно.")
	meta(keywords="Международные рейсы VSEPUTI - Донецк, Украина, Россия, Крым.")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Международные рейсы VSEPUTI - Донецк, Украина, Россия, Крым.")
	meta(property="og:description" content="Международные рейсы VSEPUTI включают в себя маршруты из Донецка и Украины в западную и северо-западную часть России, а также автобусные сообщения в Крым и обратно.")
	meta(property="og:url" content="http://vseputi.com.ua/international/")
	meta(property="og:site_name" content="Всепути - Купить билеты на автобус из Донецка в города Украины и России.")
	meta(property="og:image" content="http://vseputi.com.ua/img/content/international.jpg")
	title Международные рейсы VSEPUTI
block content
	.main._international-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Международные рейсы
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная") Главная
						li.breadcrumbs__item
							span.breadcrumbs__link.current Международные рейсы
		.row
			.col-sm-12.col-xs-12
				h2.title(style="margin: 0 0 10px;") Поиск по рейсам
				.main__form
					.form__block
						form(action="javascript:void(0);")
							.row
								.col-md-5.col-sm-4
									.form__control
										i.fa.fa-lg.fa-map
										input.form__input(type="text" required placeholder="Откуда" cityFrom)
								.col-md-5.col-sm-4
									.form__control
										i.fa.fa-lg.fa-map-o
										input.form__input(type="text" required placeholder="Куда" cityTo)
								.col-md-2.col-sm-4
									button.form__submit.btn.form__submit-search.search(type="submit") 
										i.fa.fa-search
										|  Найти
					.form__result
	block moskow-way
		br
		br
		.popular
			.container
				.row
					.col-sm-8.col-sm-offset-2
						include ../includes/modules/_to-russia
						include ../includes/modules/_from-russia
	include ../includes/modules/_share