extends ../_layout
block append head
	meta(description="Купить билет на международный автобус из Украины в Россию и города Белоруссии. Расписание, маршрут, цена, время в пути, дни следования, цена билета.")
	meta(keywords="Международные рейсы VSEPUTI - Донецк, Украина, Россия, Крым, Белорусь.")
	meta(name="robots" content="noodp")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:title" content="Международные рейсы")
	meta(property="og:description" content="Купить билет на международный автобус из Украины в Россию и города Белоруссии. Расписание, маршрут, цена, время в пути, дни следования, цена билета.")
	meta(property="og:url" content="http://vseputi.com.ua/international/")
	meta(property="og:site_name" content="Всепути - Купить билет на автобус онлайн, заказать автобусный билет.")
	meta(property="og:image" content="http://vseputi.com.ua/img/content/international.jpg")
	title Международные рейсы
block content
	.main._international-bg
		.container
			.row
				.col-sm-12.col-xs-12
					h1.main__title.no-margin Международные рейсы
	.container
		.row
			.col-sm-12.col-xs-12
				.breadcrumbs.hidden-xs
					ul.breadcrumbs__list(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
						li.breadcrumbs__item
							a.breadcrumbs__link(href="/" itemprop="url" title="Главная") Главная
						li.breadcrumbs__item
							span.breadcrumbs__link.current Международные рейсы
		.row
			.col-sm-12.col-xs-12
				h2.title(style="margin: 10px 0 10px;") Поиск по рейсам
				.main__form
					.form__block
						form(action="javascript:void(0);")
							.row
								.col-md-5.col-sm-4
									.form__control
										i.fa.fa-lg.fa-map
										input.form__input(type="text" required placeholder="Откуда" cityFrom)
								.col-md-5.col-sm-4
									.form__control
										i.fa.fa-lg.fa-map-o
										input.form__input(type="text" required placeholder="Куда" cityTo)
								.col-md-2.col-sm-4
									button.form__submit.btn.form__submit-search.search(type="submit") 
										i.fa.fa-search
										|  Найти
					.form__result
	block moskow-way
		br
		br
		.popular
			.container
				.row
					.col-sm-8.col-sm-offset-2
						.toggle-block
							include ../includes/modules/_to-russia
							include ../includes/modules/_from-russia
						.text-center
							a.toggle-link(href="javascript:void(0);") Все маршруты
	include ../includes/modules/_share
	.description
		.container
			.toggle-block.toggle-block__text
				h2.description__title 
					strong Международные автобусные перевозки из Украины в Россию и Белоруссию (маршруты в обе стороны)
				p.description__text Вам нужно быстро, комфортно и недорого <strong>добраться из Украины в Белоруссию или города России</strong>, а так же в обратном направлении? В этом случае вам подойдут автобусные пассажирские перевозки компании Vseputi. Это самый дешевый и комфортабельный вид транспорта. Наша диспетчерская служба Vseputi предлагает забронировать билет на <strong>автобус из Украины в Россию и города Белоруссии</strong> по низким ценам на нужное число и удобное для вас время. А так же заблаговременное бронирование билетов в обратном направлении на нужное вам число и удобное время.  Новые комфортабельные автобусы и профессиональные водители сделают вашу поездку не только комфортной, но и максимально безопасной.
				h2.description__title 
					strong Международные автобусные перевозки
				p.description__text <strong>Международные маршруты</strong>  проложены по скоростным трассам и проходят через крупные транспортные узлы и областные центры, что значительно сократит время пребывания в пути. Это позволяет стыковать маршруты с другими рейсами и видами транспорта. По этому если на сайте не найден необходимый маршрут, можно сделать пересадку с рейса на рейс в любом городе, где проходя по маршруту автобус, делает остановку. Более того, перевозчики предоставляющие транспортные услуги имеют все необходимые документы и разрешения, что так же сократит время прохождения границы и общее время поездки, а так же является гарантом вашей безопасности. 
				p.description__text Все предоставляемые автобусы на <strong>международные рейсы</strong> (Украина - Россия, Украина - Белоруссия), оснащены телевизорами и кондиционерами, что внесет еще больший уют и комфорт в пути. В некоторых автобусах предусмотрены точки доступа  Wi-Fi, которым вы можете воспользоваться, находясь непосредственно в пути (уточняйте информацию у диспетчеров компании Vseputi). Более полную информацию вы можете уточнить у диспетчеров компании, они ответят на все волнующие вас вопросы, подберут нужный маршрут и скоординируют вас при посадке.
				h2.description__title 
					strong Купить билет на международный автобус Украина - Россия, Украина - Белоруссия
				p.description__text <strong>Купить билет на автобус Украина - Россия, Украина - Белоруссия</strong> достаточно проблематично из-за высокого спроса на данные рейсы, именно по этому, на нашем сайте вы можете <strong>заблаговременно забронировать билет на автобус Киев – Москва,  Донецк - Минск</strong>  и другие рейсы в режиме онлайн или же позвонив по указанным номерам телефонов. Опытные и вежливые диспетчера ответят на все волнующие вас вопросы, а при отсутствии мест на рейс, предложат другие варианты, из которых вы можете выбрать подходящий и удобный для вас. Обращаем ваше внимание, что оплата  производится непосредственно при посадке в автобус, водителю. <strong>Приобрести билет на автобус Киев – Москва,  Донецк - Минск</strong>  и другие международные рейсы можно за две, три недели до назначенной даты, при этом за день до отправки с вами свяжутся наши диспетчера либо непосредственно перевозчики, напоминая о поездке и уточняя номер автобуса. Если по каким либо причинам вы опаздываете на рейс, водитель еще раз с вами созванивается, уточняя информацию.
				h2.description__title 
					strong Билеты на международные автобусы Украина - Россия, Украина - Белоруссия: онлайн бронирование
				p.description__text Компания Vseputi предоставляет услугу <strong>онлайн бронирования билетов</strong>, так <strong>билеты на автобус Киев – Москва,  Донецк - Минск</strong>  и другие, вы можете забронировать всего в несколько кликов. Выбрав нужный вам рейс, нажмите на кнопку «Выбрать», после чего на экране появится форма «Забронировать места». Обращаем ваше внимание, что в первой строке формы необходимо указать из какого города будет осуществляться посадка, это может быть как начальный пункт отправления (Киев), так и города находящиеся по маршруту. Затем необходимо выбрать нужную дату и количество мест. Что бы <strong>забронировать билеты на международные автобусы</strong>, внимательно заполните строку с вашим номером телефона. В случае ошибки наши диспетчера не смогут подтвердить бронь, и место за вами будет не закреплено. Так же для удобства в общении при подтверждении заказа на онлайн бронирование билетов заполните строку с Фамилией и именем.
				p.description__text Для вашего удобства во время бронирования билета на <strong>международный автобус</strong>, вы сразу можете <strong>забронировать билет на обратный рейс</strong> на нужную дату и время. Забронировать <strong>билет на обратный рейс</strong> вы можете, воспользовавшись формой для онлайн бронирования билетов, либо позвонив по номерам указанным на сайте (в верхнем правом углу). Заблаговременно <strong>купить билет на международный автобус</strong> вы можете как из Москвы, так и их Киева позвонив на украинский номер телефона.
				p.description__text Бронируя <strong>билет на международный автобус</strong> в нашей диспетчерской компании Vseputi, вы можете быть уверенны в том, что в любой ситуации наши операторы в максимально короткое сроки смогут уладить все возникшие проблемы. А так же ответить на все ваши вопросы и скоординировать по месту формирования автобуса.
				h2.description__title 
					strong Расписание международных автобусов
				p.description__text <strong>Расписание международных автобусов</strong>, насчитывает множество рейсов в различные города, каждый рейс имеет несколько маршрутов что позволяет выбрать удобное для вас время отправления и спланировать время прибытия. Однако хотим в очередной раз обратить ваше внимание на время прибытия и <strong>время в пути международных автобусов</strong>, на сайте указано примерное время, без учета форс-мажорных ситуаций.  На время прохождение таможни, как вы понимаете, повлиять кардинальным образом нельзя, однако все возможные меры по сокращению времени в пути уже предприняты (наличие документов, профессиональные водители со стажем, максимально короткий путь).
				h2.description__title 
					strong Цена билета на международные автобусы 
				p.description__text <strong>Цены на международные автобусы</strong> вы можете найти на сайте или уточнить у наших менеджеров по указанным телефонам. Вы так же можете заказать услугу обратного звонка, после чего в максимально короткое время с вами свяжется наш оператор, у которого вы можете узнать все интересующие вас вопросы. Для более комфортного и дешевого проезда наша компания предлагает одно, а по некоторым маршрутам два бесплатных багажных места. 
				p.description__text На все предоставляемые рейсы, в том числе международные, предоставляется уникальная дисконтная программа для детей (до12 лет). Все подробности вы можете узнать у диспетчеров компании Vseputi.